<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/form-layout :: layout(~{::title}, ~{::link}, ~{::script}, ~{::main})}">

    <head>
        <meta charset="UTF-8">
        <title>Market GG</title>
        <link th:href="@{css/members/login.css}" rel="stylesheet">
        <script></script>
    </head>
    <body>
        <main>
            <section class="jumbotron text-center">
                <h2>
                    <span th:text="#{Login}"></span>
                </h2>
                <form th:action="@{/login}" method="POST" th:object="${loginRequest}">
                    <input type="text" name="email" placeholder="EMAIL" />
                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        EMAIL ERROR
                    </div>
                    <br />

                    <input type="password" name="password" placeholder="PASSWORD" />
                    <div class="error" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}">
                        EMAIL ERROR
                    </div>
                    <br />

                    <input class="login-btn" type="submit" th:value="#{Login}" />
                    <br />

                    <a href="/login">
                        <div class="google-login-btn">
                            <img class="google-login-logo" th:src="@{images/google-login-logo.png}" alt="google" />
                            <span class="google-login-text">
                            SIGN IN WITH GOOGLE
                        </span>
                        </div>
                    </a>

                    <a href="/signup">
                        <div class="signup-btn">
                            <span th:text="#{Signup}"></span>
                        </div>
                    </a>
                </form>

            </section>
        </main>
    </body>
</html>
