<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form th:action="@{/login}" method="POST" th:object="${loginRequest}">
            <input type="text" name="email" placeholder="EMAIL" />
            <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">EMAIL ERROR</div>

            <input type="password" name="password" placeholder="PASSWORD" />
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">EMAIL ERROR</div>

            <input type="submit" value="LOGIN" />
        </form>
        <a href="/login/google">GOOGLE</a>
        <span th:text="${name}"></span>
        <a href="/signup">회원가입</a>
    </body>
</html>
