<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <link rel="stylesheet" th:href="@{/css/productinquries/marketgg.productinquiries.css}">
        <title>Market GG | 상품 문의 조회</title>
    </head>
    <body>
        <main>
            <h1 th:text="#{PRODUCT_INQUIRIES}" style="font-weight: bold; margin: 0 auto 0 0;"></h1>
            <br>
            <div>
                <div class="product-inquiry-header">
                    <li th:text="#{INQUIRY_TITLE}"></li>
                    <li th:text="#{INQUIRY_CONTENT}"></li>
                    <li th:text="#{INQUIRY_WRITER}"></li>
                    <li th:text="#{INQUIRY_DATE}"></li>
                    <li th:text="#{IS_REPLY}"></li>
                </div>

                <div class="product-inquiry-content" th:each="inquiry : ${inquiries}">
                    <div class="product-inquiry-row">
                        <li th:text="${inquiry.isSecret} == true ? '&#x1F512; ' + #{IS_SECRET_POST} : ${inquiry.title}"></li>
                        <li th:text="${inquiry.isSecret} == true ? '&#x1F512; ' + #{IS_SECRET_POST} : 'A: ' + ${inquiry.content}"></li>
                        <li th:text="${inquiry.name}"></li>
                        <li th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd')}"></li>
                        <li th:text="${#strings.isEmpty(inquiry.adminReply)} ? #{REPLY_WAIT} : #{REPLY_DONE}"></li>
                    </div>
                    <div class="reply-wrapper" th:if="${inquiry.adminReply} != null">
                        <li class="reply" th:text="${inquiry.isSecret} == true ? '&#x1F512; ' + #{IS_SECRET_POST} : 'Q: ' + ${inquiry.adminReply}"></li>
                    </div>
                </div>
            </div>
            <br>
            <br>
                <a th:href="@{|/products/${inquiries[0].getProductId()}/inquiries|}" class="btn btn-danger" th:text="#{PRODUCT_INQUIRIES_REGISTER}">
                </a>
            <br>
            <br>
            <div style="display: flex; flex-direction: row;" class="product-inquiry-page">
                <a th:href="@{|/products/${productId}/inquiries/index?page=1|}" th:text="#{FIRST}" style="color: black"></a> &nbsp; &lt;
                <a th:if="${pages.page > 1}" th:href="@{|/products/${productId}/inquiries/index?page=${pages.page - 1}|}" style="color: black"></a> &nbsp;
                <ul class="pagination">
                    <li th:each="page: ${#numbers.sequence(pages.startPage, pages.endPage)}">
                        <a th:href="@{|/products/${productId}/inquiries/index?page=${page}|}" th:text="${page}" style="color: black"></a> &nbsp;
                    </li>
                </ul>
                <a th:if="${pages.page} < ${pages.totalPageCnt}" th:href="@{|/products/${productId}/inquiries/index?page=${pages.page + 1}|}" style="color: black"></a>
                &gt; &nbsp;<a th:href="@{|/products/${productId}/inquiries/index?page=${pages.totalPageCnt}|}" th:text="#{LAST}" style="color: black"></a>
            </div>
        </main>
    </body>
</html>
