<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>LabelCreateForm</title>
    </head>
    <body>
        <h3 style="text-align: center" th:text="라벨 등록"></h3>
        <div style="text-align: center; display: flex; justify-content: center">
            <form method="post" action="/admin/v1/labels/">
                라벨 이름 : <input type="text" name="name" /><br />
                <input type="submit" value="등록"/>
            </form>
        </div>
    </body>
</html>