<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" th:fragment="layout(title, main, link, script)">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta id="_csrf" name="_csrf" th:content="${_csrf?.token}" />
        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf?.headerName}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

        <!-- FontAwesome -->
        <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/all.min.css}"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

        <link rel="stylesheet" th:href="@{/plugins/myadmin/css/myadmin.css}" />

        <!-- NOTE: 이곳은 해당 레이아웃을 사용한 html 에서 커스터마이징한 CSS 파일 링크로 대체됩니다. -->
        <link th:replace="${link}" />

        <!-- NOTE: 이곳은 해당 레이아웃을 사용한 html 의 <title> 태그로 대체됩니다. -->
        <title th:replace="${title}"></title>

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
                integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

        <!-- Bootstrap Js CDN -->
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <script th:src="@{/plugins/myadmin/js/myadmin.js}"></script>

        <!-- NOTE: 이곳은 해당 레이아웃을 사용한 html 의 <script> 태그로 대체됩니다. -->
        <script th:replace="${script}"></script>
        <!-- NOTE: Custom scripts will be here -->
    </head>
    <body>
        <div class="wrapper">
            <nav th:replace="fragments/admin/sidebar"></nav>

            <main th:replace="${main}">
                <!-- NOTE: 이곳은 해당 레이아웃을 사용한 html 의 <main> 태그로 대체됩니다. -->
            </main>
        </div>
    </body>
</html>
