<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" th:fragment="layout (title, link, script, section)">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- NOTE: 이곳은 레이아웃을 사용한 html 의 title 태그로 대체됩니다. -->
        <title th:replace="${title}"></title>

        <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../static/plugins/fontawesome/css/all.min.css" th:href="@{/plugins/fontawesome/css/all.min.css}" />
        <link rel="stylesheet" href="../static/css/clicky-menus.css" th:href="@{/css/clickymenus/clicky-menus.css}">

        <link rel="stylesheet" href="../static/css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" th:href="@{/css/marketgg.common.css}">
        <link rel="stylesheet" th:href="@{/css/marketgg.table.css}">

        <!-- NOTE: Custom links will be here -->
        <link th:replace="${link}"></link>

        <script src="../static/js/nav.js" th:src="@{/js/clikcymenus/clickyMenus.js}"></script>

        <!-- NOTE: Custom scripts will be here -->
        <script th:replace="${script}"></script>
    </head>
    <body>
        <header th:replace="fragments/common/header"></header>

        <nav th:replace="fragments/common/gnb"></nav>

        <section th:replace="${section}">
            <!-- NOTE: 이곳은 레이아웃을 사용한 html 의 section 태그로 대체됩니다. -->
        </section>

        <footer th:replace="fragments/common/footer"></footer>
    </body>
</html>
