<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(title, main, link, script)">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta id="_csrf" name="_csrf" th:content="${_csrf?.token}" />
        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf?.headerName}" />

        <!-- Bootstrap -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
              th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">

        <!-- FontAwesome -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
              th:href="@{/plugins/fontawesome/css/all.min.css}" />

        <link rel="stylesheet" href="../../static/plugins/clickymenus/css/clicky-menus.css"
              th:href="@{/plugins/clickymenus/css/clicky-menus.css}">

        <!-- autoComplete.css -->
        <link rel="stylesheet" th:href="@{/plugins/autocomplete/css/autoComplete.css}"
              href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">

        <link rel="stylesheet" href="../../static/plugins/marketgg/css/font.css"
              th:href="@{/plugins/marketgg/css/font.css}">
        <link rel="stylesheet" th:href="@{/plugins/marketgg/css/marketgg.common.css}">

        <!-- NOTE: Custom links will be here -->
        <link th:replace="${link}" />

        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

        <!-- NOTE: 이곳은 레이아웃을 사용한 html 의 title 태그로 대체됩니다. -->
        <title th:replace="${title}"></title>

        <script src="../../static/plugins/clickymenus/js/clickyMenus.js"
                th:src="@{/plugins/clickymenus/js/clickyMenus.js}"></script>

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
                integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

        <!-- Bootstrap JS for i18n -->
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- autoComplete.js -->
        <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"
                th:src="@{/plugins/autocomplete/js/autoComplete.min.js}"></script>
        <script src="../static/plugins/autocomplete/js/index.js" th:src="@{/plugins/autocomplete/js/index.js}"></script>

        <!-- NOTE: Custom scripts will be here -->
        <script th:replace="${script}"></script>
    </head>
    <body>
        <header th:replace="fragments/common/header"></header>
<!--        <nav th:replace="fragments/common/gnb"></nav>-->

        <main th:replace="${main}">
            <!-- NOTE: 이곳은 레이아웃을 사용한 html 의 main 태그로 대체됩니다. -->
        </main>

        <footer th:replace="fragments/common/footer"></footer>
    </body>
</html>
