<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layouts/title-main :: layout(~{::title}, ~{::main})}">
    <head>
        <meta charset="UTF-8">
        <title>1:1문의 게시판</title>
    </head>
    <body>
        <main>
            <div style="display: flex; justify-content: left; padding-top: 50px; padding-left: 233px">
                <h2 style="background-color: white; border: 1px outset black; padding: 5px">1:1 문의 게시판 상세페이지</h2>
            </div>
            <div class="container">
                <div class="row">
                    <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
                        <thead>
                            <tr>
                                <th colspan="3" style="background-color: #eeeeee; text-align: center;">1:1 문의</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: white; border: 1px solid black;">
                            <tr>
                                <td style="width: 20%"><span style="text-align: center" th:text="'[1:1 문의 제목]'"></span></td>
                                <td colspan="2"><span style="text-align: center" th:text="${response.title}"></span></td>
                            </tr>
                            <tr>
                                <td><span style="text-align: center" th:text="'[사유]'"></span></td>
                                <td colspan="2"><span style="text-align: center" th:text="${response.reason}"></span></td>
                            </tr>
                            <tr>
                                <td><span style="text-align: center" th:text="'[상태]'"></span></td>
                                <td colspan="2"><span style="text-align: center" th:text="${response.status}"></span></td>
                            </tr>
                            <tr>
                                <td><span style="text-align: center" th:text="'[등록일자]'"></span></td>
                                <td colspan="2"><span style="text-align: center" th:text="${#temporals.format(response.createdAt, 'yyyy/MM/dd hh:mm:ss')}"></span></td>
                            </tr>
                            <tr>
                                <td><span style="text-align: center" th:text="'[1:1 문의 내용]'"></span></td>
                                <td colspan="2" style="min-height: 200px; text-align: left"><div style="text-align: center; white-space: pre;" th:utext="${response.content}"></div></td>
                            </tr>
                        </tbody>
                    </table>
                    <form th:method="post" th:action="'/admin/customer-services/categories/'+${response.categoryCode}+'/'+${response.id}+'/delete'">
                        <input type="hidden" name="page" th:value="${page}">
                        <input type="hidden" name="_method" value="delete"/>
                        <input class="btn btn-danger" type="submit" value="삭제">
                    </form>
                </div>
                <br /><br />
            </div>
            <div class="container">
                <div class="row" style="text-align: center; display: flex; justify-content: center">
                    <table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
                        <thead>
                            <tr>
                                <th colspan="3" style="background-color: #eeeeee; text-align: center;">답변 목록</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: white; border: 1px solid black;">
                            <tr>
                                <th>답변 내용</th>
                                <th>답변 작성자</th>
                                <th>답변 작성일자</th>
                            </tr>
                            <tr th:each="comment : ${response.commentList}">
                                <td th:text="${comment.content}"></td>
                                <td th:text="${comment.email}"></td>
                                <td th:text="${#temporals.format(comment.createdAt, 'yyyy/MM/dd hh:mm:ss')}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align: center; display: flex; justify-content: center">
                <form th:method="post" th:action="'/customer-services/'+${response.id}">
                    <textarea style="white-space: pre-wrap; text-align: center" class="form-control" cols = "40" rows = "5" name="content" placeholder="답변을 입력해주세요"></textarea><br/>
                    <input class="btn-primary fa-pull-right" type="submit" value="답변 등록">
                </form>
            </div>
        </main>
    </body>
</html>
