<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">
    <head>
        <link rel="stylesheet" th:href="@{/css/board/marketgg.board.css}">
        <title th:text="#{OTO_INQUIRY_BOARD}"></title>
    </head>
    <body>
        <main>
            <div class="board-wrapper">
                <nav>
                    <div class="list-group" th:if="${isAdmin == 'yes'}">
                        <span class="list-group-item active" aria-current="true" th:text="#{BOARD_LIST}"></span>
                        <a class="list-group-item list-group-item-action" th:href="'/admin/customer-services/categories/'+${NOTICE_CODE}+'?page=0'" th:text="#{NOTICE}"></a>
                        <a class="list-group-item list-group-item-action" th:href="'/admin/customer-services/categories/'+${OTO_CODE}+'?page=0'" th:text="#{OTO_INQUIRY}"></a>
                        <a class="list-group-item list-group-item-action" th:href="'/admin/customer-services/categories/'+${FAQ_CODE}+'?page=0'" th:text="#{FAQ}"></a>
                    </div>
                    <div class="list-group" th:if="${isAdmin == 'no'}">
                        <span class="list-group-item active" aria-current="true" th:text="#{BOARD_LIST}"></span>
                        <a class="list-group-item list-group-item-action" th:href="'/customer-services/categories/'+${NOTICE_CODE}+'?page=0'" th:text="#{NOTICE}"></a>
                        <a class="list-group-item list-group-item-action" th:href="'/customer-services/categories/'+${OTO_CODE}+'?page=0'" th:text="#{OTO_INQUIRY}"></a>
                        <a class="list-group-item list-group-item-action" th:href="'/customer-services/categories/'+${FAQ_CODE}+'?page=0'" th:text="#{FAQ}"></a>
                    </div>
                </nav>
                <div class="table-wrapper">
                    <div th:if="${isAdmin == 'yes'}" class="row row-cols-6">
                        <details>
                            <summary class="btn btn-info" th:text="#{ALL_SEARCH}"></summary>
                                    <form th:method="get" th:action="'/admin/customer-services/categories/'+${OTO_CODE}+'/search'">
                                        <input type="text" name="keyword" th:placeholder="#{WRITE_SEARCH_KEYWORD}">
                                        <input type="hidden" name="page" value="0">
                                        <input class="btn btn-primary" type="submit" th:value="#{SEARCH}"><br />
                                    </form>
                        </details>
                        <details>
                            <summary class="btn btn-info" th:text="#{SEARCH_BY_REASON}"></summary>
                            <form th:method="get" th:action="'/admin/customer-services/categories/'+${OTO_CODE}+'/options/reason/search'">
                                <select name="option">
                                    <option th:each="reason : ${reasons}" th:text="${reason}" th:value="${reason}"></option>
                                </select><br />
                                <input type="text" name="keyword" th:placeholder="#{WRITE_SEARCH_KEYWORD}">
                                <input type="hidden" name="page" value="0">
                                <input class="btn btn-primary" type="submit" th:value="#{SEARCH}"><br />
                            </form>
                        </details>
                        <details>
                            <summary class="btn btn-info" th:text="#{SEARCH_BY_STATUS}"></summary>
                            <form th:method="get" th:action="'/admin/customer-services/categories/'+${OTO_CODE}+'/options/status/search'">
                                <select name="option">
                                    <option th:each="status : ${statusList}" th:text="${status}" th:value="${status}"></option>
                                </select><br />
                                <input type="text" name="keyword" th:placeholder="#{WRITE_SEARCH_KEYWORD}">
                                <input type="hidden" name="page" value="0">
                                <input class="btn btn-primary" type="submit" th:value="#{SEARCH}"><br />
                            </form>
                        </details>
                    </div>
                    <br />
                    <div th:if="${isAdmin == 'yes'}" style="background-color: white">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th th:text="#{POST_NO}"></th>
                                    <th th:text="#{TITLE}"></th>
                                    <th th:text="#{REASON}"></th>
                                    <th th:text="#{STATUS}"></th>
                                    <th th:text="#{CREATED_AT}"></th>
                                    <th th:text="#{STATUS_CHANGE}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="board : ${responses}">
                                    <td th:text="${board.id}"></td>
                                    <td>
                                        <a th:href="'/admin/customer-services/categories/'+${board.categoryCode}+'/'+${board.id}+'?page='+${page}" th:text="${board.title}"></a>
                                    </td>
                                    <td th:text="${board.reason}"></td>
                                    <td th:text="${board.status}"></td>
                                    <td th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd hh:mm:ss')}"></td>
                                    <td>
                                        <div th:if="${isAdmin == 'yes'}">
                                            <form th:method="post" th:action="'/adnmin/customer-services/categories/702/'+${board.id}+'/status'">
                                                <select name="status">
                                                    <option th:each="status : ${statusList}" th:text="${status}" th:value="${status}"></option>
                                                </select><br />
                                                <input type="hidden" name="_method" value="patch"/>
                                                <input type="hidden" name="page" th:value="${page}">
                                                <input class="btn btn-warning" type="submit" th:value="#{STATUS_CHANGE}">
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${isAdmin == 'no'}" style="background-color: white">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th th:text="#{POST_NO}"></th>
                                    <th th:text="#{TITLE}"></th>
                                    <th th:text="#{REASON}"></th>
                                    <th th:text="#{STATUS}"></th>
                                    <th th:text="#{CREATED_AT}"></th>
                                    <th th:text="#{DELETE}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="board : ${responses}">
                                    <td th:text="${board.id}"></td>
                                    <td>
                                        <a th:href="'/customer-services/categories/'+${board.categoryCode}+'/'+${board.id}+'?page='+${page}" th:text="${board.title}"></a>
                                    </td>
                                    <td th:text="${board.reason}"></td>
                                    <td th:text="${board.status}"></td>
                                    <td th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd hh:mm:ss')}"></td>
                                    <td>
                                        <form th:method="post" th:action="'/customer-services/categories/'+${board.categoryCode}+'/'+${board.id}+'/delete'">
                                            <input type="hidden" name="page" th:value="${page}">
                                            <input type="hidden" name="_method" value="delete"/>
                                            <input class="btn btn-danger" type="submit" th:value="#{DELETE}">
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div th:if="${isAdmin == 'yes'}">
                        <form th:method="get" th:action="'/customer-services/categories/'+${OTO_CODE}+'/create'">
                            <input class="btn-primary fa-pull-right" type="submit" th:value="#{OTO_INQUIRY_CREATE}">
                        </form>
                    </div>
                    <div style="text-align: center" th:if="${isAdmin == 'no'}">
                        <div th:if="${searchType == 'no'}">
                            <a class="btn-primary" th:href="'/customer-services/categories/'+${OTO_CODE}+'?page=' + ${page - 1}" th:if="${page} != 0" th:text="prev"></a>
                            <span style="background-color: white; border: 1px outset black; padding: 5px" class="btn-outline-dark" th:text="${page} + 'PAGE'"></span>
                            <a class="btn-primary" th:href="'/customer-services/categories/'+${OTO_CODE}+'?page=' + ${page + 1}" th:if="${isEnd} == 0" th:text="next"></a>
                        </div>
                    </div>
                    <div style="text-align: center" th:if="${isAdmin == 'yes'}">
                        <div th:if="${searchType == 'default'}">
                            <a class="btn-primary" th:href="'/admin/customer-services/categories/'+${OTO_CODE}+'/search?page='+${page - 1}+'&keyword='+${keyword}" th:if="${page} != 0" th:text="prev"></a>
                            <span style="background-color: white; border: 1px outset black; padding: 5px" class="btn-outline-dark" th:text="${page} + 'PAGE'"></span>
                            <a class="btn-primary" th:href="'/admin/customer-services/categories/'+${OTO_CODE}+'/search?page='+${page + 1}+'&keyword='+${keyword}" th:if="${isEnd} == 0" th:text="next"></a>
                        </div>
                        <div th:if="${searchType == 'reason'}">
                            <a class="btn-primary" th:href="'/admin/customer-services/categories/'+${OTO_CODE}+'/option/reason/search?page='+${page - 1}+'&keyword='+${keyword}+'&reason='+${reason}" th:if="${page} != 0" th:text="prev"></a>
                            <span style="background-color: white; border: 1px outset black; padding: 5px" class="btn-outline-dark" th:text="${page} + 'PAGE'"></span>
                            <a class="btn-primary" th:href="'/admin/customer-services/categories/'+${OTO_CODE}+'/option/reason/search?page='+${page + 1}+'&keyword='+${keyword}+'&reason='+${reason}" th:if="${isEnd} == 0" th:text="next"></a>
                        </div>
                        <div th:if="${searchType == 'status'}">
                            <a class="btn-primary" th:href="'/admin/customer-services/categories/'+${OTO_CODE}+'/option/status/search?page='+${page - 1}+'&keyword='+${keyword}+'&status='+${status}" th:if="${page} != 0" th:text="prev"></a>
                            <span style="background-color: white; border: 1px outset black; padding: 5px" class="btn-outline-dark" th:text="${page} + 'PAGE'"></span>
                            <a class="btn-primary" th:href="'/admin/customer-services/categories/'+${OTO_CODE}+'/option/status/search?page='+${page + 1}+'&keyword='+${keyword}+'&status='+${status}" th:if="${isEnd} == 0" th:text="next"></a>
                        </div>
                        <div th:if="${searchType == 'no'}">
                            <a class="btn-primary" th:href="'/admin/customer-services/categories/'+${OTO_CODE}+'?page=' + ${page - 1}" th:if="${page} != 0" th:text="prev"></a>
                            <span style="background-color: white; border: 1px outset black; padding: 5px" class="btn-outline-dark" th:text="${page} + 'PAGE'"></span>
                            <a class="btn-primary" th:href="'/admin/customer-services/categories/'+${OTO_CODE}+'?page=' + ${page + 1}" th:if="${isEnd} == 0" th:text="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
