<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/admin-title-main :: layout(~{::title}, ~{::main})}">

    <head>
        <title>Market GG | 관리자 페이지</title>
    </head>

    <body>
        <main role="main">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                        <span class="admin-dashboard__description">
                            관리자 메인 대시보드 화면입니다. 오른쪽 버튼을 통해 카테고리를 열고 접을 수 있습니다.
                        </span>
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- TODO 회원 관리 기본 페이지로 넣기! -->
        </main>
    </body>
</html>
