<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main :: layout(~{::title}, ~{::main})}">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{공지등록}"></title>
    </head>
    <body>
        <main>
            <div style="text-align: center; display: flex; justify-content: center; padding-top: 50px;">
                <h2 style="background-color: white; border: 1px solid black; padding: 5px" th:text="#{공지등록}"></h2>
            </div>
            <br /><br />
            <div style="text-align: center; display: flex; justify-content: center">
                <form th:method="post" th:action="'/admin/customer-services/categories/'+${code}+'/create'">
                    <span style="background-color: #abdde5; border: 2px solid black;" th:text="#{공지제목}"></span>
                    <input style="text-align: center" class="form-control" type="text" name="title"
                           th:placeholder="#{공지제목을입력하세요}"><br /><br />
                    <span style="background-color: #abdde5; border: 2px solid black;" th:text="#{공지내용}"></span><br />
                    <textarea style="white-space: pre-wrap; text-align: center" class="form-control" cols="50" rows="10" name="content"
                              th:placeholder="#{공지내용을입력하세요}"></textarea><br />
                    <input type="hidden" name="categoryCode" th:value="${code}">
                    <input type="hidden" name="reason" value="NOTICE">
                    <input class="btn-primary fa-pull-right" type="submit" th:value="#{등록}">
                </form>
            </div>
        </main>
    </body>
</html>
