<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/admin-title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">
    <head>
        <link rel="stylesheet" th:href="@{/css/label/marketgg.label.css}">
        <title th:text="#{LABEL_MANAGEMENT}"></title>
    </head>
    <body>
        <main>
            <h1 th:text="#{LABEL_MANAGEMENT}"></h1>
            <div class="label-wrapper">
                <div class="label-content-wrapper">
                    <details>
                        <summary class="btn btn-info" th:text="#{LABEL_CREATE}"></summary>
                            <form method="POST" th:action="@{/admin/labels/create}">
                                <input type="text" name="name" th:placeholder="#{WRITE_LABEL_NAME}">
                                <input class="btn btn-primary" type="submit" th:value="#{ADD}">
                            </form>
                    </details>
                    <div class="label-table-wrapper">
                        <table class="label-table-content-wrapper">
                            <thead>
                                <tr>
                                    <th th:text="#{No}"></th>
                                    <th th:text="#{Name}"></th>
                                    <th th:text="#{DELETE}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="background-color: whitesmoke;" class="table table-hover" th:each="label : ${labels}">
                                    <td th:text="${label.labelNo}"></td>
                                    <td th:text="${label.name}"></td>
                                    <td>
                                        <form th:method="post" th:action="'/admin/labels/' + ${label.labelNo}">
                                            <input type="hidden" name="_method" value="delete"/>
                                            <input class="btn-primary" type="submit" th:value="#{DELETE}">
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
