<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>FAQ 등록</title>
    </head>
    <body>
        <div style="text-align: center; display: flex; justify-content: center">
            <form th:method="post" th:action="'/admin/customer-services/categories/'+${code}+'/create'">
                <span>FAQ 질문 내용: </span>
                <textarea cols = "50" rows = "10" name="title"></textarea><br/>
                <span>FAQ 답변 내용: </span><br />
                <textarea cols = "50" rows = "10" name="content"></textarea><br/>
                <input type="hidden" name="categoryCode" value="703">
                <input type="submit" value="등록">
            </form>
        </div>
    </body>
</html>
