<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>검색 결과</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>게시글 번호</th>
                    <th>카테고리번호</th>
                    <th>제목</th>
                    <th>사유</th>
                    <th>상태</th>
                    <th>등록일자</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="board : ${response}">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.categoryCode}"></td>
                    <td th:text="${board.title}"></td>
                    <td th:text="${board.reason}"></td>
                    <td th:text="${board.status}"></td>
                    <td th:text="${board.createdAt}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
