<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>1:1문의 등록</title>
    </head>
    <body>
        <div style="text-align: center; display: flex; justify-content: center">
            <form th:method="post" th:action="'/shop/v1/customer-services/oto-requiries/create'">
                <span>1:1 문의 제목 : </span><input type="text" name="title"><br /><br />
                <span>1:1 문의 사유 : </span>
                <select name="reason">
                    <option th:each="reason : ${reasons}"></option>
                    <option th:text="${reason}"></option>
                </select><br />
                <span>[1:1 문의 내용]</span><br />
                <textarea cols = "50" rows = "10" name="content"></textarea><br/>
                <input type="submit" value="등록">
            </form>
        </div>
    </body>
</html>
