<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>1:1문의 게시판</title>
    </head>
    <body>
        <div style="text-align: center; display: flex; justify-content: center">
            <h4>[1:1문의 제목]</h4>
            <div style="border: 1px dashed;  width: 300px; height: 30px; padding: 10px">
                <span th:text="${response.title}"></span>
            </div>
        </div>
        <div style="text-align: center; display: flex; justify-content: center">
            [등록일자] <span th:text="${response.createdAt}"></span>
            [수정일자] <span th:text="${response.updatedAt}"></span>
        </div>
        <div style="text-align: center; display: flex; justify-content: center">
            <h4>[1:1문의 내용]</h4>
            <div style="border: 1px dashed;  width: 500px; height: 300px; padding: 10px">
                <span th:text="${response.content}"></span>
            </div>
        </div>
        <h2 style="text-align: center">[답변 목록]</h2>

        <div style="text-align: center; display: flex; justify-content: center">
            <table>
                <tr>
                    <th>답변 내용</th>
                    <th>답변 작성일자</th>
                </tr>
                <tr th:each="comment : ${response.commentList}">
                    <td th:text="${comment.content}"></td>
                    <td th:text="${comment.createdAt}"></td>
                </tr>
            </table>
        </div>
        <div style="text-align: center; display: flex; justify-content: center">
            <form th:method="post" th:action="'/shop/v1/customer-services/oto-inquiries/'+${response.id}">
                <textarea cols = "50" rows = "10" name="content"></textarea><br/>
                <input type="submit" value="답글 등록">
            </form>
        </div>
    </body>
</html>
