<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>1:1문의 게시판</title>
    </head>
    <body>
        <details>
            <summary>[전체 검색]</summary>
                <form th:method="post" th:action="'/shop/v1/customer-services/search/categories/702?page=0'">
                    <input type="text" name="keyword" value="검색어를 입력하세요">
                    <input type="submit" value="검색"><br />
                </form>
        </details>
        <details>
            <summary>[사유 검색]</summary>
            <form th:method="post" th:action="'/shop/v1/customer-services/search/categories/702/reason?page=0'">
                <span>1:1 문의 사유 : </span>
                <select name="reason">
                    <option th:each="reason : ${reasons}"></option>
                    <option th:text="${reason}"></option>
                </select><br />
                <input type="text" name="keyword" value="검색어를 입력하세요">
                <input type="submit" value="검색"><br />
            </form>
        </details>
        <details>
            <summary>[상태 검색]</summary>
            <form th:method="post" th:action="'/shop/v1/customer-services/search/categories/702/status?page=0'">
                <input type="text" name="status" value="상태를 입력하세요">
                <input type="text" name="keyword" value="검색어를 입력하세요">
                <input type="submit" value="검색"><br />
            </form>
        </details>
        <form th:method="get" th:action="'/shop/v1/customer-services/oto-inquiries/create'">
            <input type="submit" value="1:1문의 등록">
        </form>
        <table>
            <thead>
                <tr>
                    <th>게시글 번호</th>
                    <th>제목</th>
                    <th>사유</th>
                    <th>상태</th>
                    <th>등록일자</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${responses}">
                    <td th:text="${board.id}"></td>
                    <td>
                        <a th:href="'shop/v1/oto-inquiries/'+${board.id}+'/retrieve'" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${board.reason}"></td>
                    <td th:text="${board.status}"></td>
                    <td th:text="${board.createdAt}"></td>
                    <td>
                        <form th:method="get" th:action="'/shop/v1/customer-services/oto-inquiries/'+${board.id}+'/update'">
                            <input type="submit" value="수정">
                        </form>
                    </td>
                    <td>
                        <form th:method="post" th:action="'/shop/v1/customer-services/oto-inquiries/'+${board.id}+'/delete'">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" value="삭제">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${searchType == 'default'}">
            <a th:href="'/shop/v1/customer-services/search/categories/702?page=' + ${page - 1} + '&keyword=' + ${keyword}" th:if="${page} != 0" th:text="prev"></a>
            <span th:text="'('+ ${page} + 'page)'"></span>
            <a th:href="'/shop/v1/customer-services/search/categories/702?page=' + ${page + 1} + '&keyword=' + ${keyword}" th:if="${isEnd} == 0" th:text="next"></a>
        </div>
        <div th:if="${searchType == 'reason'}">
            <a th:href="'/shop/v1/customer-services/search/categories/702/reason?page=' + ${page - 1}" th:if="${page} != 0" th:text="prev"></a>
            <span th:text="'('+ ${page} + 'page)'"></span>
            <a th:href="'/shop/v1/customer-services/search/categories/702/reason?page=' + ${page + 1}" th:if="${isEnd} == 0" th:text="next"></a>
        </div>
        <div th:if="${searchType == 'status'}">
            <a th:href="'/shop/v1/customer-services/search/categories/702/status?page=' + ${page - 1} + '&keyword=' + ${keyword}" th:if="${page} != 0" th:text="prev"></a>
            <span th:text="'('+ ${page} + 'page)'"></span>
            <a th:href="'/shop/v1/customer-services/search/categories/702/status?page=' + ${page + 1} + '&keyword=' + ${keyword}" th:if="${isEnd} == 0" th:text="next"></a>
        </div>
        <div th:if="${searchType == 'no'}">
            <a th:href="'/shop/v1/customer-services/oto-inquiries?page=' + ${page - 1}" th:if="${page} != 0" th:text="prev"></a>
            <span th:text="'('+ ${page} + 'page)'"></span>
            <a th:href="'/shop/v1/customer-services/oto-inquiries?page=' + ${page + 1}" th:if="${isEnd} == 0" th:text="next"></a>
        </div>
    </body>
</html>
