<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>1:1문의 수정</title>
    </head>
    <body>
        <div style="text-align: center; display: flex; justify-content: center">
            <form th:method="post" th:action="'/customer-services/oto-inquiries/'+${response.id}+'/update'">
                <span>1:1 문의 제목 : </span><input type="text" name="title" th:value="${response.content}"><br /><br />
                <span>1:1 문의 사유 : </span>
                <select name="reason">
                    <option th:each="reason : ${reasons}" th:text="${reason}" th:value="${reason}"></option>
                </select><br />
                <span>[1:1 문의 내용]</span><br />
                <textarea cols = "50" rows = "10" name="content" th:value="${response.content}"></textarea><br/>
                <input type="hidden" name="_method" value="put"/>
                <input type="hidden" name="categoryCode" value="702">
                <input type="submit" value="수정">
            </form>
        </div>
    </body>
</html>
