<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/admin-title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" th:href="@{/css/orders/admin-order-details.css}">

        <title th:text="#{TITLE_ORDER_DETAIL}"></title>
    </head>

    <body>
        <main>

            <h1 th:text="#{ORDER_DETAIL}"></h1><hr /><br />

            <h3 style="margin-bottom: 1em; font-weight: bold;">주문 정보</h3>
            <div class="top-info">
                <p th:text="#{ORDER_NO}"></p>
                <p th:text="${orderId}"></p>
                <p th:text="#{ORDER_CREATED_AT}"></p>
                <p th:text="${#temporals.format(order.createdAt, 'yyyy.MM.dd (hh:mm)')}"></p>
                <p th:text="#{ORDER_STATUS}"></p>
                <p th:text="${order.orderStatus}"></p>
                <p th:if="${!order.trackingNo.isBlank()}" th:text="#{TRACKING_NO}"></p>
                <p th:if="${!order.trackingNo.isBlank()}" th:text="${order.trackingNo}"></p>
            </div>
            <h3 th:text="#{ORDER_PRODUCT_LIST}"></h3>
            <table class="table">
                <tr th:each="product : ${order.getOrderProductList()}">
                    <td th:text="#{PRODUCT_NAME}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="#{PRODUCT_PRICE}"></td>
                    <td th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}+' '+#{WON}"></td>
                    <td th:text="#{PRODUCT_AMOUNT}"></td>
                    <td th:text="${product.amount}"></td>
                    <td th:text="#{SUBTOTAL}"></td>
                    <td th:text="${#numbers.formatInteger(product.price*product.amount, 3, 'COMMA')}+' '+#{WON}"></td>
                </tr>
            </table>
            <h3 th:text="#{DELIVERY_ADDRESS}"></h3>
            <table class="table">
                <tr>
                    <td th:text="#{ADDRESS}+' ('+#{ZIPCODE}+')'"></td>
                    <td th:text="${order.address}+' ('+${order.zipCode}+')'"></td>
                    <td th:text="#{DETAIL_ADDRESS}"></td>
                    <td th:text="${order.detailAddress}"></td>
                </tr>
            </table>
            <div class="bot-info">
                <p th:text="#{USED_COUPON}"></p>
                <p th:text="${order.usedCoupon?.name}"></p>
                <p th:if="${order.usedCoupon?.name != null}" th:text="#{DISCOUNTED_AMOUNT}"></p>
                <p th:unless="${order.usedCoupon?.name != null}">없음</p>
                <p th:if="${(order.usedCoupon?.name != null) && (order.usedCoupon.type.equals('정액할인'))}"
                   th:text="${#numbers.formatInteger((order.totalAmount)-(order.usedCoupon.discountAmount), 3, 'COMMA')}+' '+#{WON}"></p>
                <p th:if="${(order.usedCoupon?.name != null) && (order.usedCoupon.type.equals('정률할인'))}"
                   th:text="${#numbers.formatInteger(order.totalAmount*order.usedCoupon.discountAmount, 3, 'COMMA')}+' '+#{WON}"></p>
                <p th:text="#{USED_POINT}"></p>
                <p th:text="${#numbers.formatInteger(order.usedPoint, 3, 'COMMA')}+' G'"></p>
                <p th:text="#{TOTAL}"></p>
                <p th:text="${#numbers.formatInteger(order.totalAmount, 3, 'COMMA')}+' '+#{WON}"></p>
            </div>
        </main>
    </body>

</html>
