<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/admin-title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" th:href="@{/css/orders/admin-order-list.css}">

        <title th:text="#{TITLE_ORDER_LIST}"></title>
    </head>

    <body>
        <main>

            <h1 th:text="#{ORDER_MANAGE}"></h1>
            <hr />
            <br />

            <h2 th:if="${orders.isEmpty()}" th:text="#{NOT_EXISTS_ORDERS}"></h2>
            <table th:unless="${orders.isEmpty()}" class="table">
                <tr>
                    <th th:text="#{ORDER_NO}"></th>
                    <th th:text="#{ORDER_NAME}"></th>
                    <th th:text="#{ORDER_TOTAL_AMOUNT}"></th>
                    <th th:text="#{ORDER_STATUS}"></th>
                    <th th:text="#{ORDER_CREATED_AT}"></th>
                    <th th:text="#{ORDER_MEMBER_ID}"></th>
                    <th th:text="#{TRACKING_NO_ISSUE}"></th>
                </tr>
                <tr class="order-content" th:each="order : ${orders}"
                    th:onclick="|location.href='/admin/orders/'+${order.id}|">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.orderName}"></td>
                    <td th:text="${#numbers.formatInteger(order.totalAmount, 3, 'COMMA')}+' '+#{WON}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td th:text="${#temporals.format(order.createdAt, 'yyyy.MM.dd (HH:mm)')}"></td>
                    <td th:text="${order.memberId}"></td>
                    <td th:if="${#strings.equals(order.getOrderStatus(),'결제완료')}">
                        <a th:href="@{|/admin/orders/order/${order.getId()}/delivery?orderStatus=${order.getOrderStatus()}|}">발급</a>
                    </td>
                    <td th:unless="${#strings.equals(order.getOrderStatus(),'결제완료')}"></td>
                </tr>
            </table>

            <div class="pagination" th:if="${!orders.isEmpty()}">
                <a th:href="@{|/admin/orders/index?page=1|}" th:text="#{FIRST_PAGE}"></a>
                <a th:if="${pages.page} > 1" th:href="@{|/admin/orders/index?page=${pages.page-1}|}"
                   th:text="#{PREV_PAGE}"></a>
                <ul>
                    <li th:each="page : ${#numbers.sequence(pages.startPage, pages.endPage)}">
                        <a th:href="@{|/admin/orders/index?page=${page}|}" th:text="${page}"
                           th:classappend="${page} == ${pages.page} ? 'current'"></a>
                    </li>
                </ul>
                <a th:if="${pages.page} < ${pages.totalPageCnt}" th:href="@{|/admin/orders/index?page=${pages.page+1}|}"
                   th:text="#{NEXT_PAGE}"></a>
                <a th:href="@{|/admin/orders/index?page=${pages.totalPageCnt}|}" th:text="#{END_PAGE}"></a>
            </div>

        </main>
    </body>

</html>
