<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <script src="/js/toast.js" defer></script>

        <title>파일 업로드</title>
    </head>
    <body>
        <form name="form" method="post" th:action="'/admin/v1/products/create'" enctype="multipart/form-data">

            <input type="text" name="name" placeholder="상품 이름" value="다시다맛 젤리"> <br>
            <div th:each="category : ${categories}" class="form-check form-check-inline">
                <input type="checkbox" th:value="${category.categoryCode}" name="categoryCode" class="form-check-input">
                <label th:text="${category.categoryName}" class="form-check-label">서울</label>
            </div>
            <br>
            <div th:each="label : ${labels}" class="form-check form-check-inline">
                <input type="checkbox" th:value="${label.labelNo}" name="labelNo" class="form-check-input">
                <label th:text="${label.name}" class="form-check-label">서울</label>
            </div>
            <input type="text" name="content" placeholder="상품 설명" value="북해도에서 온 다시마 젤리"> <br>
            <input type="number" name="totalStock" placeholder="총 수량" value=1> <br>
            <input type="number" name="price" placeholder="가격" value=5900> <br>
            <input type="text" name="unit" placeholder="판매 단위" value="1개"> <br>
            <input type="text" name="deliveryType" placeholder="배송 구분" value="택배 배송"> <br>
            <input type="text" name="origin" placeholder="원산지" value="일본"> <br>
            <input type="text" name="packageType" placeholder="포장 타입" value="스티로폼"> <br>
            <input type="date" name="expirationDate" placeholder="유효기간"> <br>
            <input type="text" name="allergyInfo" placeholder="알러지 정보" value="바닷물, 다시마, 소금"> <br>
            <input type="text" name="capacity" placeholder="중량/용량" value="520g"> <br>
            <input type="file" name="image" multiple="multiple" /> <br>

            <div id="editor"></div>
            <input type="hidden" id="toast-content" name="description" value="상품">
            <button type="submit" id="btn-submit">상품 등록</button>

        </form>
    </body>
</html>
