<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>상품</title>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th>상품 번호</th>
                    <th>카테고리</th>
                    <th>자원</th>
                    <th>상품 이름</th>
                    <th>상품 내용</th>
                    <th>재고량</th>
                    <th>가격</th>
                    <!-- <th>버튼</th> -->
                </tr>
            </thead>

            <tbody>
                <tr th:each="product : ${products}">
                    <div>
                        <img th:href="${product.thumbnail}">
                    </div>

                    <td th:text="${product.id}"></td>
                    <td th:text="${product.categoryName}"></td>
                    <td th:text="${product.assetNo}"></td>
                    <td class="move" th:text="${product.name}"
                        th:onclick="'location.href=\''+ @{|/admin/v1/products/${product.id}|} + '\''"
                        style="color: tomato">업무 이름
                    </td>
                    <td th:text="${product.content}"></td>
                    <td th:text="${product.totalStock}"></td>
                    <td th:text="${product.price}"></td>
                    <td class="move"
                        th:onclick="'location.href=\''+ @{|/admin/v1/products/update/${product.id}|} + '\''"
                        style="color: dodgerblue">상품 수정
                    </td>
                </tr>

                <!-- <th:block th:each="image : ${images}"> -->
                <!--     <img th:src="'data:image/jpeg;base64,'+${image}"> -->
                <!-- </th:block> -->
            </tbody>

        </table>
    </body>

</html>
