<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link-script :: layout(~{::title}, ~{::main}, ~{::link}, ~{::script})}">
    <head>
        <link th:href="@{/css/members/withdraw.css}" rel="stylesheet">
        <title th:text="#{MEMBER_WITHDRAW}"></title>
        <script th:src="@{/js/members/withdraw.js}" defer></script>
    </head>
    <body>
        <main>
            <section class="jumbotron text-center">
                <h1 th:text="#{MEMBER_WITHDRAW}"></h1>
                <form th:method="delete" th:action="@{/mygg/member/withdraw}" onsubmit="return formValidation()"
                      th:object="${loginRequest}">
                    <input type="email" class="form-control" name="email" th:placeholder="#{EMAIL}" id="email"
                           maxlength="30"
                           oninput="" th:value="${profile?.email}" th:readonly="${profile != null}"
                           required/>
                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">EMAIL</div>
                    <input type="password" class="form-control" id="password" name="password"
                           th:placeholder="#{PASSWORD_VALIDATION}"
                           maxlength="20"
                           required/>
                    <input type="password" class="form-control" id="password-check"
                           th:placeholder="#{PASSWORD_VALIDATION}"
                           maxlength="20"
                           required/>
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">PASSWORD</div>
                    <div class="form-group">
                        <button type="button" class="btn btn-outline-info" id="password-check-btn"
                                th:text="#{PASSWORD_CHECK}"></button>
                    </div>
                    <input type="hidden" id="use-password" value="false"/>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" id="withdraw-btn" th:value="#{MEMBER_WITHDRAW}"
                               disabled>
                    </div>
                </form>
            </section>
        </main>
    </body>
</html>
