<section class="products">
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <!-- FIXME: thymeleaf 를 이용하여 아이템 정보 불러오기 -->
                <div class="col-md-4" th:each="product : ${products}">
                    <div class="card mb-4 shadow-sm">
                        <div class="embed-responsive embed-responsive-4by3">
                            <img th:src="${product.imageAddress}" background="#55595c" color="#eceeef"
                                 class="card-img-top embed-responsive-item" alt="tree" text="Thumbnail"
                                 th:onclick="|location.href='/products/${product.id}'|">
                        </div>

                        <div class="card-body">

                            <td><h2 th:text="${product.productName}"></h2></td>
                            <div th:if="${product.labelName == '라벨없음'}"></div>
                            <div th:unless="${product.labelName == '라벨없음'}">
                                <span class="btn btn-danger" th:text="${product.labelName}"></span>
                            </div>
                            <br>
                            <td th:text="${product.content}"></td>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    <td th:text="${product.price}+'원'"></td>
                                </small>
                            </div>

                            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                <div class="btn-wrapper">
                                    <a th:href="@{|/admin/products/update/${product.id}|}">
                                        <button type="submit" class="btn btn-primary" id="btn-submit"
                                                th:text="#{UPDATE}">수정
                                        </button>
                                    </a>
                                    <form class="btn" th:action="'/admin/products/' + ${product.id}"
                                          method="post">
                                        <input type="hidden" name="_method" value="delete"/>
                                        <input class="btn btn-danger" type="submit" th:value="#{DELETE}"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${pageType == 'default'}">
            <div class="pagination" th:if="${!products.isEmpty()}">
                <a th:href="@{|/products?page=1|}" th:text="#{FIRST_PAGE}"></a>
                <a th:if="${pages.page} > 1" th:href="@{|/products?page=${pages.page-1}|}" th:text="#{PREV_PAGE}"></a>
                <ul class="pagination">
                    <li th:each="page : ${#numbers.sequence(pages.startPage, pages.endPage)}">
                        <a th:href="@{|/products?page=${page}|}" th:text="${page}"
                           th:classappend="${page} == ${pages.page} ? 'current'"></a>
                    </li>
                </ul>
                <a th:if="${pages.page} < ${pages.totalPageCnt}" th:href="@{|/products?page=${pages.page+1}|}"
                   th:text="#{NEXT_PAGE}"></a>
                <a th:href="@{|/products?page=${pages.totalPageCnt}|}" th:text="#{END_PAGE}"></a>
            </div>
        </div>
        <div th:if="${pageType == 'search'}">
            <ul class="pagination">
                <li th:each="page: ${#numbers.sequence(0, pages.totalPageCnt - 1)}">
                    <a th:href="'products/search?categoryId='+${categoryId}+'&keyword='+${keyword}+'&page='+${page + 1}"
                       th:text="${page + 1}"></a>
                </li>
            </ul>
        </div>
        <div th:if="${pageType == 'priceSearch'}">
            <ul class="pagination">
                <li th:each="page: ${#numbers.sequence(0, pages.totalPageCnt - 1)}">
                    <a th:href="'products/categories/'+${categoryId}+'/price/'+${option}+'/search?keyword='+${keyword}+'&page='+${page + 1}"
                       th:text="${page + 1}"></a>
                </li>
            </ul>
        </div>
    </div>
</section>