<section>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <!-- FIXME: thymeleaf 를 이용하여 아이템 정보 불러오기 -->
                <div class="col-md-4" th:each="product : ${products}">
                    <div class="card mb-4 shadow-sm">
                        <img th:src="${product.thumbnail}" background="#55595c" color="#eceeef"
                             class="card-img-top" text="Thumbnail"
                             th:onclick="|location.href='/products/${product.id}'|">
                        <div class="card-body">
                            <td th:text="${product.name}"></td>
                            <br>
                            <td th:text="${product.content}"></td>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    <td th:text="${product.price}"></td>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <ul class="pagination">
                <li th:each="page: ${#numbers.sequence(0, pages.totalPageCnt - 1)}">
                    <a th:href="@{|/products/?page=${page}|}" th:text="${page}"></a>
                </li>
            </ul>
        </div>
    </div>
</section>