<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/form-layout :: layout(~{::title}, ~{::link}, ~{::script}, ~{::main})}">

    <head>
        <meta charset="UTF-8">
        <title>Market GG</title>
        <link th:href="@{css/carts/cart.css}" rel="stylesheet">
        <script></script>
    </head>
    <body>
        <main>
            <section class="text-center">
                <h2 class="cart-title" th:text="#{Cart}"></h2>

                <div class="cart-container">
                    <div class="cart">
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" alt="thumbnail"/> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <!-- -------------------------------------------------------------------- -->
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                        <div class="cart-item d-flex flex-row bd-highlight mb-3 align-items-center">
                            <input class="p-2" type="checkbox" name="select" checked />

                            <!-- <img th:src="${cart.thumbnail}" class="cart-img" /> -->
                            <img th:src="@{images/errors/poby.png}" class="cart-img p-2" />

                            <!-- <span th:text="${cart.name}">상품 이름</span> -->
                            <span class="p-2 flex-grow-1">상품 이름</span>

                            <div class="cart-amount p-2">
                                <!-- <input type="number" th:value="${cart.amount}" min="0" max="999"/> -->
                                <input type="number" name="amount" min="0" max="999" /><br />
                                <button th:value="#{UPDATE}">수정</button>
                            </div>

                            <!-- <span th:text="${cart.price * cart.amount}">총 금액</span> -->
                            <span class="p-2">총 금액</span>

                            <button class="cart-delete p-2">X</button>
                        </div>
                    </div>

                    <div class="cart-pay">
                        <div>
                            <div class="pay-info">
                                <p>결제 예정 금액</p>
                                <p>10,000 원</p>
                            </div>
                            <button class="order-btn">주문하기</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>