<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/admin-title-main :: layout(~{::title}, ~{::main})}">

    <head>
        <meta charset="UTF-8">
        <title>Market GG | ADMIN</title>
    </head>

    <body>

        <main>
            <h1>회원 관리</h1><br />
            <table class="table table-hover">
                <thead class="thead dart">
                    <tr>
                        <th>이름</th>
                        <th>Email</th>
                        <th>전화번호</th>
                        <th>회원등급</th>
                        <th>성별</th>
                        <th>생일</th>
                        <th>가입일시</th>
                        <th>관리자 여부</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member : ${members}">
                        <td th:text="${member.name}">이름</td>
                        <td th:text="${member.email}">Email</td>
                        <td th:text="${member.phoneNumber}">전화번호</td>
                        <td th:text="${member.memberGrade}">회원등급</td>
                        <td th:if="${member.gender == 'M'}">남</td>
                        <td th:unless="${member.gender == 'M'}">여</td>
                        <td th:text="${member.birthDate}">생일</td>
                        <td th:text="${member.createdAt}">가입일시</td>
                        <td th:if="${member.isAdmin()}">Y</td>
                        <td th:if="${member.isAdmin()}">N</td>
                    </tr>
                </tbody>
            </table>
        </main>

    </body>

</html>
