<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-script :: layout(~{::title}, ~{::main}, ~{::script})}">
    <head>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:src="@{/js/delivery-addresses/daum-postcode.js}" defer></script>
        <title th:text="#{DELIVERY_ADDRESS_CREATE}"></title>
    </head>
    <body>
        <main>
            <h2 th:text="#{DELIVERY_ADDRESS_CREATE}"></h2>
            <form method="post" th:action="@{/mygg/member/delivery-address}" th:object="${addressRequest}">
                <div style="display: flex; justify-content: end">
                    <label style="margin-right: 1em" for="defaultAddress" th:text="#{DELIVERY_DEFAULT_ADDRESS}"></label>
                    <input type="hidden" name="defaultAddress" th:value="true">
                    <input class="checkbox" type="checkbox" id="defaultAddress" checked/>
                    <div class="error" th:if="${#fields.hasErrors('defaultAddress')}" th:errors="*{defaultAddress}">DEFAULT_ADDRESS</div>
                </div>
                <input type="text" class="form-control" id="postcode" name="zipcode"
                       th:placeholder="#{DELIVERY_ZIPCODE}"
                       readonly required/>
                <div class="error" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">ZIPCODE</div>
                <input type="text" class="form-control" id="address" name="address" th:placeholder="#{DELIVERY_ADDRESS}"
                       readonly required/>
                <div class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">ADDRESS</div>
                <input type="text" class="form-control" id="detailAddress" name="detailAddress"
                       th:placeholder="#{DELIVERY_DETAIL_ADDRESS}" required/>
                <div class="error" th:if="${#fields.hasErrors('detailAddress')}" th:errors="*{detailAddress}">DETAILADDRESS</div>
                <div style="display: flex; justify-content: end">
                    <input type="button" class="btn btn-primary" onclick="execDaumPostcode()"
                           th:value="#{FIND_DELIVERY_ZIPCODE}"/>
                    <input type="submit" class="btn btn-warning" th:value="#{ADD}"/>
                </div>
            </form>
        </main>
    </body>
</html>
