<section>

    <div style="display: flex;">
        <div th:replace="fragments/common/mygg-sidebar"></div>
        <div style="text-align: center; display: flex; flex-direction: column;">
            <h1>후기</h1>
            <table class="table table-hover" style="text-align:center">
                <tr class="table-danger">
                    <th th:text="#{CONTENTS}">내용</th>
                    <th th:text="#{CREATED_AT}">생성일자</th>
                    <th th:text="#{RATING}">별점</th>
                </tr>

                <tr th:each="review : ${reviews}">
                    <td th:utext="${review.content}"></td>
                    <td th:text="${review.createdAt}"></td>
                    <td th:text="${review.rating}"></td>
                </tr>
            </table>
            <div style="display: flex; flex-direction: row;">
                <a th:href="@{|/members/reviews?page=1|}" th:text="#{FIRST}" style="color: black"></a>
                <a th:if="${pages.page > 1}" th:href="@{|/members/reviews?page=${pages.page - 1}|}"
                   th:text="|&nbsp &lt|" style="color: black"></a>
                &nbsp;
                <ul class="pagination">
                    <li th:each="page: ${#numbers.sequence(pages.startPage, pages.endPage)}">
                        <a th:href="@{|/members/reviews?page=${page}|}" th:text="${page}" style="color: black"></a> &nbsp;
                    </li>
                </ul>
                <a th:if="${pages.page} < ${pages.totalPageCnt}" th:href="@{|/members/reviews?page=${pages.page + 1}|}"
                   th:text="|&gt &nbsp|" style="color: black"></a>
                <a th:href="@{|/members/reviews?page=${pages.totalPageCnt}|}" th:text="#{LAST}"
                              style="color: black"></a>
            </div>
        </div>
    </div>
</section>