<section>
    <div id="review-container">

    </div>

    <div class="container">
        <div id="reviews" class="review-section">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h4 class="m-0" th:text="${reviewCount} + 'reviews'"></h4>
                <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2"
                      style="width: 188px;">
                <span class="selection">
                    <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                          aria-expanded="false" tabindex="0" aria-labelledby="select2-qd66-container">

                        <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                    </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true"></span>
            </span>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <table class="stars-counters">
                        <tbody>
                            <tr class="">
                                <td>
                                <span>
                                    <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">5 Stars</button>
                                </span>
                            </td>
                            <td class="progress-bar-container">
                                <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                    <div class="fit-progressbar-background">
                                        <span class="progress-fill" th:if="${#lists.isEmpty(reviewRatings)}"
                                              th:style="'width:'+${reviewRatings.get(4).getRatingCount * 100}/${reviewCount}+'%'"></span>
                                    </div>
                                </div>
                            </td>
                            <td class="star-num" th:text="${reviewRatings.get(4).getRatingCount}"></td>
                        </tr>
                        <tr class="">
                            <td>
                                <span>
                                    <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">4 Stars</button>
                                </span>
                            </td>
                            <td class="progress-bar-container">
                                <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                    <div class="fit-progressbar-background">
                                        <span class="progress-fill" th:if="${#lists.isEmpty(reviewRatings)}"
                                              th:style="'width:'+${reviewRatings.get(3).getRatingCount * 100}/${reviewCount}+'%'"></span>
                                    </div>
                                </div>
                            </td>
                            <td class="star-num" th:text="${reviewRatings.get(3).getRatingCount}"></td>
                        </tr>
                        <tr class="">
                            <td>
                                <span>
                                    <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">3 Stars</button>
                                </span>
                            </td>
                            <td class="progress-bar-container">
                                <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                    <div class="fit-progressbar-background">
                                        <span class="progress-fill" th:if="${#lists.isEmpty(reviewRatings)}"
                                              th:style="'width:'+${reviewRatings.get(2).getRatingCount * 100}/${reviewCount}+'%'"></span>
                                    </div>
                                </div>
                            </td>
                            <td class="star-num" th:text="${reviewRatings.get(2).getRatingCount}"></td>
                        </tr>
                        <tr class="">
                            <td>
                                <span>
                                    <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">2 Stars</button>
                                </span>
                            </td>
                            <td class="progress-bar-container">
                                <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                    <div class="fit-progressbar-background">
                                        <span class="progress-fill" th:if="${#lists.isEmpty(reviewRatings)}"
                                              th:style="'width:'+${reviewRatings.get(1).getRatingCount * 100}/${reviewCount}+'%'"></span>
                                    </div>
                                </div>
                            </td>
                            <td class="star-num" th:text="${reviewRatings.get(1).getRatingCount}"></td>
                        </tr>
                        <tr class="">
                            <td>
                                <span>
                                    <button class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter">1 Stars</button>
                                </span>
                            </td>
                            <td class="progress-bar-container">
                                <div class="fit-progressbar fit-progressbar-bar star-progress-bar">
                                    <div class="fit-progressbar-background">
                                        <span class="progress-fill" th:if="${#lists.isEmpty(reviewRatings)}"
                                              th:style="'width:'+${reviewRatings.get(0).getRatingCount * 100}/${reviewCount}+'%'"></span>
                                    </div>
                                </div>
                            </td>
                            <td class="star-num" th:text="${reviewRatings.get(0).getRatingCount}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-between mb-4">

            <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2"
                  style="width: 188px;">
                <span class="selection">
                    <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                          aria-expanded="false" tabindex="0" aria-labelledby="select2-qd66-container">
                        <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                    </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true"></span>
            </span>
        </div>
    </div>

    <div class="review-list" id="review-list">
        <ul>
            <li th:each="review : ${reviews}">
                <div class="d-flex">
                    <div class="left">
                    </div>
                    <div class="right">
                        <h4>
                            <span th:text="${review.memberName}"></span>
                            <span class="gig-rating text-body-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
                                    <path
                                            fill="currentColor"
                                            d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"
                                    ></path>
                                </svg>
                                    <span th:text="${review.rating}">></span>
                            </span>
                        </h4>
                        <div class="country d-flex align-items-center">
                        </div>
                        <div class="review-description">
                            <p>
                                <span th:utext="${review.content}">></span>
                            </p>
                        </div>
                        <span class="publish py-3 d-inline-block w-100" th:text="${review.updatedAt}"> </span>
                        <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                            <div class="btn-wrapper">
                                <form class="btn"
                                      th:action="'/products/' + ${productDetails.id} + '/reviews/' + ${review.id}"
                                      method="post">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <input class="btn btn-danger" type="submit" th:value="#{DELETE}"/>
                                </form>

                                <form class="btn"
                                      th:action="'/admin/products/' + ${productDetails.id} + '/reviews/' + ${review.id} + '/make-best'"
                                      method="post">
                                    <input class="btn btn-success" type="submit" th:value="#{MAKE_BEST_REVIEW}"/>
                                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div id="review-update-box"></div>
    </div>
    </div>

    <form name="reviewRequest" method="post" th:action="@{|/products/${productDetails.id}/reviews|}"
          enctype="multipart/form-data">

        <div th:replace="fragments/common/input-group :: formItem('rating', '별점', 'number', 5)"></div>

        <div class="product-details">
            <h1 style="font-weight: bold; margin: 0 auto 0 0;">후기 등록</h1>
            <div id="editor"></div>
            <input type="hidden" id="toast-content" name="content" value="">
        </div>

        <div class="btn-wrapper">
            <button type="submit" class="btn btn-primary" id="btn-submit" th:text="#{SUBMIT}">등록</button>
            <button type="button" class="btn btn-secondary" th:text="#{CANCEL}">취소</button>
        </div>
    </form>

    <div>
        <ul class="pagination">
            <li th:each="page: ${#numbers.sequence(0, pages.totalPageCnt - 1)}">
                <a th:href="@{|/products/${productDetails.id}/?page=${page}|}" th:text="${page + 1}"></a>
            </li>
        </ul>
    </div>
</section>
