<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Market GG Admin Page</h3>
    </div>

    <ul class="list-unstyled CTAs">
        <li><a href="/" class="btn-white">Market GG 바로가기</a></li>
        <li><a href="/gg-admin" class="article">관리자 메인 화면으로</a></li>
    </ul>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">상품 관리</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="/admin/products/create">상품 등록</a></li>
                <li><a href="/admin/products/inquiries">상품 문의 관리</a></li>
            </ul>
        </li>
        <!-- NOTE: 하위 카테고리 필요 시 아래의 <li> 태그 활용 -->
        <!-- <li> -->
        <!--     <a href="#">상품 대분류</a> -->
        <!--     <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a> -->
        <!--     <ul class="collapse list-unstyled" id="pageSubmenu"> -->
        <!--         <li><a href="#">Page 1</a></li> -->
        <!--         <li><a href="#">Page 2</a></li> -->
        <!--         <li><a href="#">Page 3</a></li> -->
        <!--     </ul> -->
        <!-- </li> -->
        <li>
            <a href="/admin/categories/index">카테고리 관리</a>
        </li>
        <li>
            <a href="/admin/labels">라벨 관리</a>
        </li>
        <li>
            <a href="/admin/coupons/index">쿠폰 관리</a>
        </li>
        <li>
            <a href="/admin/orders/index">주문 관리</a>
        </li>
    </ul>
</nav>
