<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>CategoryCreateForm</title>
    </head>
    <body>
        <h1>카테고리 등록</h1>
        <hr/>
        <div>
            <form th:method="post" action="/shop/v1/admin/categories">
                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <th>카테고리분류</th>
                        <th>카테고리코드</th>
                        <th>이름</th>
                        <th>순서</th>
                    </tr>
                    <tr>
                        <td>
                            <select name="categorizationCode" th:each="categorization : ${categorizations}">
                                <option th:text="${categorization.name}" th:value="${categorization.categorizationCode}"></option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="categoryCode"/>
                        </td>
                        <td>
                            <input type="text" name="name"/>
                        </td>
                        <td>
                            <input type="number" name="sequence"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <button style="flex: none; float: right;" type="submit">등록</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
