<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>공지 게시판</title>
    </head>
    <body>
        <form th:action="'/shop/v1/search/boards/categories/701/types/notices?page=0&size=10'" th:method="post">
            <input type="text" name="keyword" value="검색어를 입력하세요">
            <input type="submit" value="검색"><br />
        </form>
        <table>
            <thead>
                <tr>
                    <th>게시글 번호</th>
                    <th>제목</th>
                    <th>등록일자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${responses}">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.title}"></td>
                    <td th:text="${board.createdAt}"></td>
                </tr>
            </tbody>
        </table>
        <div th:if="${searchType == 'default'}">
            <a th:href="'/shop/v1/search/boards/categories/701/types/notices?page=' + ${page - 1} + '&size=10&keyword=' + ${keyword}" th:if="${page} != 0" th:text="prev"></a>
            <span th:text="'('+ ${page} + 'page)'"></span>
            <a th:href="'/shop/v1/search/boards/categories/701/types/notices?page=' + ${page + 1} + '&size=10&keyword=' + ${keyword}" th:if="${isEnd} == 0" th:text="next"></a>
        </div>
        <div th:if="${searchType == 'no'}">
            <a th:href="'/shop/v1/customer-services/notices?page=' + ${page - 1}" th:if="${page} != 0" th:text="prev"></a>
            <span th:text="'('+ ${page} + 'page)'"></span>
            <a th:href="'/shop/v1/customer-services/notices?page=' + ${page + 1}" th:if="${isEnd} == 0" th:text="next"></a>
        </div>
    </body>
</html>
