main > > div {
    width: 70rem;
}

.list-group, .mygg-content{
    height: 100rem;
    margin-right: 1rem;
}

.product-inquiry-header {
    display: flex;
    justify-content: space-around;
    background-color: darkorange;
    padding: 1rem;
}

.reply-wrapper {
    margin-top: 0.5rem;
    padding: 1rem;
}

.product-inquiry-header li {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

ul div {
    display: flex;
}

.product-inquiry-content {
    padding: 2rem;
}

.product-inquiry-row {
    display: flex;
}

.btn-outline-warning {
    color: #FF4D00;
    border-color: #FF4D00;
}

.product-inquiry-row li {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.product-inquiry-row li:nth-child(3) {
    display: flex;
    justify-content: left;
    list-style-type: none;
}

.reply-wrapper {
    display: flex;
    align-items: center;
}

.reply {
    display: flex;
    justify-content: left;
    padding-left: 20rem;
    flex: 1;
    color: deeppink;
}

.product-inquiry-header li:nth-child(1), .product-inquiry-row li:nth-child(1) { flex: 0.1; }
.product-inquiry-header li:nth-child(2), .product-inquiry-row li:nth-child(2) { flex: 0.2; }
.product-inquiry-header li:nth-child(3), .product-inquiry-row li:nth-child(3) { flex: 0.4; }
.product-inquiry-header li:nth-child(4), .product-inquiry-row li:nth-child(4) { flex: 0.1; }
.product-inquiry-header li:nth-child(5), .product-inquiry-row li:nth-child(5) { flex: 0.1; }
.product-inquiry-header li:nth-child(6), .product-inquiry-row li:nth-child(6) { flex: 0.1; }

.product-inquiry-page {
    display: flex;
    justify-content: center;
}

.pagination {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.pagination > * {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
}

.my-coupon {
    display: flex;
    flex-direction: column;
    height: 100rem;
    overflow: auto;
}
