<footer>
    <div>
        <img src="/images/ic-marketgg.png" alt="Market GG Logo">
    </div>
    <div class="footer__description">
        <div>
            주소 : <a href="https://naver.me/FNueB0QP">경남 김해시 내외중앙로 55</a><br>
            NHN Academy ON7 Team<br>
            이메일 : <a href="mailto:on7.marketgg@gmail.com">on7.marketgg@gmail.com</a>
        </div>
        <div class="footer__navigation">
            <a href="#">서비스 이용약관</a> | <a href="#">개인정보처리방침</a> |
            <a href="#">업데이트 소식</a> | <a href="#">고객센터</a>
        </div>
        <div>
            Copyright 2022. ON7 All rights reserved.
        </div>
        <!-- <p class="float-right">
            <a href="#">Back to top</a>
        </p> -->
    </div>
</footer>
