<nav>
    <ul class="main-menu clicky-menu">
        <li>
            <a href="#">
                전체 카테고리
                <svg aria-hidden="true" width="16" height="16">
                    <use xlink:href="#arrow" />
                </svg>
            </a>
            <ul class="category">
                <!-- FIXME: DB 에서 상위 카테고리 each 돌리기 -->
                <li><a href="#">밀키트</a></li>
                <li><a href="#">채소</a></li>
                <li><a href="#">주류</a></li>
            </ul>
        </li>
        <li><a href="#">베스트</a></li>
        <li><a href="#">특가/혜택</a></li>
        <li><a href="#">크라우드 펀딩</a></li>
    </ul>
</nav>
