<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <i class="fab fa-shopify"></i>
                <strong>Market GG</strong>
            </a>
            <div>
                <a href="/signup" class="btn btn-primary my-2">회원가입</a>
                <a href="login" class="btn btn-secondary my-2">로그인</a>
            </div>
        </div>
    </div>
</header>
