<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main :: layout(~{::title}, ~{::main})}">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{WISH_LIST}"></title>
    </head>
    <body>
        <main>
            <div style="display: flex">
                <nav style="display: flex; flex: 0.1; padding-left: 30px"></nav>
                <div style="display: flex; flex: 0.7; flex-direction: column;">
                    <div style="text-align: center; display: flex; justify-content: center">
                        <table class="table table-hover" style="text-align: center; border: 1px solid black; background-color: navajowhite">
                            <tr>
                                <th th:text="#{PRODUCT_IMAGE}"></th>
                                <th th:text="#{PRODUCT_NAME}"></th>
                                <th th:text="#{PRODUCT_PRICE}"></th>
                                <th th:text="#{DIB_DELETE}"></th>
                            </tr>
                            <tr th:each="dib : ${dibs}">
                                <td>
                                    <img th:src="${dib.thumbnail}" alt="null"/>
                                </td>
                                <td>
                                    <a th:href="'/products/' + ${dib.productNo}" th:text="${dib.productName}"></a>
                                </td>
                                <td th:text="${dib.productPrice}"></td>
                                <td>
                                    <form th:method="delete" th:action="'/member/dibs/' + ${dib.productNo}">
                                        <input type="hidden" name="_method" value="delete"/>
                                        <input class="btn-primary" type="submit" th:value="#{DIB_DELETE}">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
