<section>
    <br>
    <h1 th:text="#{PRODUCT_INQUIRIES}" style="font-weight: bold; margin: 0 auto 0 0;"  id="inquiries"></h1>
    <br>
    <div>
        <a th:href="@{|/products/${inquiries[0].getProductId()}/inquiries|}">
            <button class="btn btn-danger" th:text="#{PRODUCT_INQUIRIES_REGISTER}"></button>
        </a>
        <br>
        <br>
        <div>
            <div class="product-inquiry-header">
                <li th:text="#{INQUIRY_TITLE}"></li>
                <li th:text="#{INQUIRY_CONTENT}"></li>
                <li th:text="#{INQUIRY_WRITER}"></li>
                <li th:text="#{INQUIRY_DATE}"></li>
                <li th:text="#{IS_REPLY}"></li>
            </div>

            <div class="product-inquiry-content" th:each="inquiry : ${inquiries}">
                <div class="product-inquiry-row">
                    <li th:text="${inquiry.isSecret} == true && ${memberInfo.} ? '&#x1F512; ' + #{IS_SECRET_POST} : ${inquiry.title}"></li>
                    <li th:text="${inquiry.isSecret} == true ? '&#x1F512; ' + #{IS_SECRET_POST} : 'A: ' + ${inquiry.content}"></li>
                    <li th:text="${inquiry.name}"></li>
                    <li th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd')}"></li>
                    <li th:text="${#strings.isEmpty(inquiry.adminReply)} ? #{REPLY_WAIT} : #{REPLY_DONE}"></li>
                </div>
                <div class="reply-wrapper" th:if="${inquiry.adminReply} != null">
                    <li class="reply" th:text="${inquiry.isSecret} == true ? '&#x1F512; ' + #{IS_SECRET_POST} : 'Q: ' + ${inquiry.adminReply}"></li>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div style="display: flex; flex-direction: row;" class="product-inquiry-page">
            <a th:href="@{|/products/${inquiries[0].productId}?requestPage=1|}" style="color: black"></a>
            <a th:if="${inquiryPage.page > 1}" th:href="@{|/products/${inquiries[0].productId}?requestPage=${inquiryPage.page - 1}|}" style="color: black"></a>
            <ul class="pagination">
                <li th:each="page: ${#numbers.sequence(inquiryPage.startPage, inquiryPage.endPage)}">
                    <a th:href="@{|/products/${inquiries[0].productId}?requestPage=${page}|}" th:text="${page}" style="color: black"></a>
                </li>
            </ul>
            <a th:if="${inquiryPage.page} < ${inquiryPage.totalPageCnt}" th:href="@{|/products/${inquiries[0].productId}?requestPage=${inquiryPage.page + 1}|}" style="color: black"></a>
            <a th:href="@{|/products/${inquiries[0].productId}?requestPage=${inquiryPage.totalPageCnt}|}"  style="color: black"></a>
        </div>
    </div>
</section>