#admin-member-title {
    font-weight: bold;
    margin: 0 auto 0 0;
}

.page-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}

.black {
    color: black
}