<footer>
    <div>
        <img src="/images/ic-marketgg.png" alt="Market GG Logo">
    </div>
    <div class="footer__description">
        <div>
            <span th:text="#{ADDRESS_LABEL}">주소</span> : <a href="https://naver.me/FNueB0QP" th:text="#{ADDRESS_CONTENT}"></a><br>
            <span th:text="#{ORGANIZATION}"></span><br>
            <span th:text="#{EMAIL_LABEL}"></span> : <a href="mailto:on7.marketgg@gmail.com" th:text="#{EMAIL_ADDRESS}"></a>
        </div>
        <div class="footer__navigation">
            <a href="#" th:text="#{TERMS_OF_SERVICE}"></a> | <a href="#" th:text="#{PRIVACY_POLICY}"></a> |
            <a href="#" th:text="#{UPDATES}"></a> | <a href="/customer-services/categories/701?page=0" th:text="#{CUSTOMER_SERVICES}"}></a>
        </div>
        <div>
            Copyright 2022. ON7 All rights reserved.
        </div>
        <!-- <p class="float-right">
            <a href="#">Back to top</a>
        </p> -->
    </div>
</footer>
