<nav>
    <div class="gnb">
        <ul class="clicky-menu">
            <li>
                <a href="#">
                    <span th:text="#{CATEGORIES_LABEL}"></span>
                    <svg aria-hidden="true" width="16" height="16">
                        <use xlink:href="#arrow" />
                    </svg>
                </a>
                <ul class="category">
                    <!-- FIXME: DB 에서 상위 카테고리 each 돌리기 -->
                    <li><a th:href="@{/products/categories/104}" th:text="밀키트"></a></li>
                    <li><a th:href="@{/products/categories/101}" th:text="채소"></a></li>
                    <li><a th:href="@{/products/categories/102}" th:text="|과일/견과/쌀|"></a></li>
                    <li><a th:href="@{/products/categories/103}" th:text="|정육/계란|"></a></li>
                </ul>
            </li>
            <li><a href="#" th:text="#{BEST_LABEL}"></a></li>
            <li><a href="#" th:text="#{BENEFITS_LABEL}"></a></li>
        </ul>
    </div>
    <div class="autocomplete-container">
        <!-- NOTE: 카테고리 선택 드롭다운 목록 -->
        <div class="dropdown">
            <button type="button" class="btn btn-outline-light dropdown-toggle"
                    data-toggle="dropdown" aria-expanded="false">
                카테고리 선택
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">밀키트</a>
                <a class="dropdown-item" href="#">파전</a>
                <a class="dropdown-item" href="#">주류</a>
            </div>
        </div>

        <!-- NOTE: 검색 창 -->
        <div class="autocomplete-input">
            <label for="autoComplete"></label>
            <input id="autoComplete" type="search" dir="ltr" maxlength="2048" tabindex="1"
                   spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off">
        </div>
        <div>
            <i class="fas fa-search"></i>
        </div>
    </div>
</nav>
