<div class="nav-container">
    <nav>
        <div class="gnb-container">
            <ul class="nav-menu nav-center">
                <li><a href="#" class="nav-active">전체 카테고리</a>
                    <ul>
                        <li th:each="category : ${categories}">
                            <a th:href="@{|/products/categories/${category.categoryCode}|}"
                               th:if="${#strings.length(category.categoryCode)} <= 3" th:text="${category.categoryName}"></a>
                            <ul>
                                <li th:each="categoryDepth : ${categories}">
                                <a th:if="${#strings.contains(categoryDepth.categoryCode, category.categoryCode)} and ${#strings.length(categoryDepth.categoryCode)} > 3"
                                   th:href="@{|/products/categories/${categoryDepth.categoryCode}|}"
                                   th:text="${categoryDepth.categoryName}"> </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a th:href="@{/market-coupons}" th:text="#{BENEFITS_LABEL}"></a></li>
                <li><a href="/customer-services/categories/701?page=0" th:text="#{CUSTOMER_SERVICES}"></a></li>
            </ul>
        </div>
        <div class="autocomplete-container">
            <label for="categoryCode"></label>
            <div class="dropdown">
                <select class="custom-select" id="categoryCode">
                    <option selected th:text="'전체'" th:value="'001'"></option>
                    <option th:text="'채소'" th:value="'101'"></option>
                    <option th:text="'과일/견과/쌀'" th:value="'102'"></option>
                    <option th:text="'정육/계란'" th:value="'103'"></option>
                    <option th:text="'밀키트'" th:value="'104'"></option>
                </select>
            </div>
            <div class="autocomplete-input">
                <label for="autoComplete"></label>
                <input id="autoComplete" type="search" dir="ltr" maxlength="2048" tabindex="1"
                       spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off">
            </div>
            <div>
                <i class="fas fa-search-dollar"></i>
            </div>
        </div>
    </nav>
</div>
