<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        MY GG
    </a>
    <a href="#" class="list-group-item list-group-item-action">개인 정보 수정</a>
    <a href="#" class="list-group-item list-group-item-action">배송지 목록</a>
    <a href="/members/dibs" class="list-group-item list-group-item-action">내가 찜한 상품</a>
    <a href="#" class="list-group-item list-group-item-action">주문 내역</a>
    <a href="#" class="list-group-item list-group-item-action">포인트 적립 내역</a>
</div>
