<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        MY GG
    </a>
    <a href="/mygg/member/delivery-addresses" class="list-group-item list-group-item-action">배송지 관리</a>
    <a href="/members/dibs" class="list-group-item list-group-item-action">찜한 상품</a>
    <a href="/orders" class="list-group-item list-group-item-action">주문 내역</a>
    <a href="/members/reviews"class="list-group-item list-group-item-action">후기 조회</a>
    <a href="/members/product-inquiries" class="list-group-item list-group-item-action" th:text="#{PRODUCT_INQUIRIES}"></a>
    <a href="/members/points" class="list-group-item list-group-item-action">포인트</a>
    <a href="/members/coupons" class="list-group-item list-group-item-action" th:text="#{COUPON}"></a>
    <a href="/mygg/member/update" class="list-group-item list-group-item-action">개인 정보 수정</a>

</div>
