<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link-script :: layout(~{::title}, ~{::main}, ~{::link}, ~{::script})}">

    <head>
        <!-- only for landing page -->
        <link rel="stylesheet" th:href="@{/css/marketgg.index.css}">

        <title>Market GG | 메인 페이지</title>

        <script th:src="@{/js/common/viewport.js}"></script>
    </head>

    <body>
        <main role="main" style="background-color: transparent;">
            <section class="jumbotron text-center">
                <div class="container" id="main__title" th:if="${option == 'main'}">
                    <h1 class="main__title">Market GG</h1>
                    <p class="lead text-muted main__description">밀키트 중심의 사용자 친화적 쇼핑몰에 오신 것을 환영합니다.</p>
                </div>
                <div class="container" id="search__title" th:if="${option == 'search'}">
                    <h1 class="main__title" th:text="${keyword}"></h1>
                    <p class="lead text-muted main__description">로 검색하신 결과입니다.</p>
                </div>
            </section>

            <section th:replace="~{fragments/products/product-list}"></section>
        </main>
    </body>

</html>
