<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layouts/title-main-link-script :: layout(~{::title}, ~{::link}, ~{::script}, ~{::main})}">

    <head>
        <title>Market GG | 메인 페이지</title>

        <!-- NOTE: 기본 레이아웃에서 추가로 필요한 link 태그 포함 가능 -->
        <!-- autoComplete.css -->
        <!-- <link rel="stylesheet" -->
        <!--       href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css"> -->
        <link rel="stylesheet" href="../static/plugins/autocomplete/css/autoComplete.css"
              th:href="@{/plugins/autocomplete/css/autoComplete.css}">

        <!-- NOTE: 기본 레이아웃에서 추가로 필요한 script 태그 포함 가능 -->
        <!-- autoComplete.js -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script> -->
        <script src="../static/plugins/autocomplete/js/autoComplete.min.js"
                th:src="@{/plugins/autocomplete/js/autoComplete.min.js}" defer></script>
        <script src="../static/plugins/autocomplete/js/index.js"
                th:src="@{/plugins/autocomplete/js/index.js}" defer></script>
    </head>

    <body>
        <main role="main">
            <section class="jumbotron text-center">
                <div class="container" id="main__title">
                    <h1 class="main__title">Market GG</h1>
                    <p class="lead text-muted main__description">밀키트 중심의 사용자 친화적 쇼핑몰에 오신 것을 환영합니다.</p>
                </div>

                <input id="autoComplete" type="search" dir="ltr" maxlength="2048" tabindex="1"
                       spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off">
            </section>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <!-- FIXME: thymeleaf 를 이용하여 아이템 정보 불러오기 -->
                        <div class="col-md-4" th:each="product : ${products}">
                            <div class="card mb-4 shadow-sm">
                                <img th:src="${product.thumbnail}" background="#55595c" color="#eceeef"
                                     class="card-img-top" text="Thumbnail" th:onclick="|location.href='/admin/products/${product.id}'|">
                                <div class="card-body">
                                    <td th:text="${product.name}"></td>
                                    <br>
                                    <td th:text="${product.content}"></td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted"><td th:text="${product.price}"></td></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>
