<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" th:href="@{/css/orders/order-details.css}">

        <title th:text="#{TITLE_ORDER_DETAIL}"></title>
    </head>

    <body>
        <main>

            <h2 th:text="#{ORDER_DETAIL}"></h2><br />

            <div class="info">
                <div class="top-info">
                    <p th:text="#{ORDER_NO}+': '+${orderId}"></p>
                    <p th:text="${#temporals.format(order.createdAt, 'yyyy.MM.dd (hh:mm)')}"></p>
                </div>

                <div class="first-info">
                    <p th:text="#{ORDER_STATUS}"></p>
                    <p th:text="${order.orderStatus}"></p>
                    <p th:if="${!order.trackingNo.isEmpty()}" th:text="#{TRACKING_NO}"></p> <!-- memo: trackingNo
                    null 체크
                     -->
                    <p th:text="${order.trackingNo}"></p>
                </div>

                <div class="second-info" th:if="${!order.getOrderProductList().isEmpty()}">
                    <h3 th:text="#{ORDER_PRODUCT_LIST}"></h3>
                    <div class="product-info" th:each="product : ${order.getOrderProductList()}">
                        <img th:src="${product.imageAddress}"
                             class="img-thumbnail" th:title="${product.name}+' '+#{SEE_DETAIL}"
                             th:onclick="|location.href='/products/${product.id}'|" alt="이미지 없음" />
                        <div class="product-info-text">
                            <div class="text-first">
                                <p th:text="#{PRODUCT_NAME}"></p>
                                <p th:text="${product.name}"></p>
                            </div>
                            <div class="text-second">
                                <p th:text="#{PRODUCT_PRICE}"></p>
                                <p th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}+' '+#{WON}"></p>
                                <p th:text="#{PRODUCT_AMOUNT}"></p>
                                <p th:text="${product.amount}"></p>
                                <p th:text="#{SUBTOTAL}"></p>
                                <p th:text="${#numbers.formatInteger(product.price*product.amount, 3, 'COMMA')}+' '+#{WON}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="third-info">
                    <h3 th:text="#{DELIVERY_ADDRESS}"></h3>
                    <p th:text="#{ADDRESS}+' ('+#{ZIPCODE}+')'"></p>
                    <p th:text="${order.address}+' ('+${order.zipCode}+')'"></p>
                    <p th:text="#{DETAIL_ADDRESS}"></p>
                    <p th:text="${order.detailAddress}"></p>
                </div>

                <div class="last-info">
                    <h3 th:text="#{DISCOUNT_APPLIED}"></h3>
                    <div class="discount">
                        <div class="coupon">
                            <p th:if="${!order.usedCoupon.name.isEmpty()}" th:text="#{COUPON}"></p>
                            <p th:text="${order.usedCoupon.name}"></p>
                            <p th:text="#{DISCOUNTED_AMOUNT}"></p>
                            <p th:if="${order.usedCoupon.type.equals('정액할인')}"
                               th:text="${#numbers.formatInteger((order.totalAmount)-(order.usedCoupon.discountAmount), 3, 'COMMA')}+' '+#{WON}"></p>
                            <p th:unless="${order.usedCoupon.type.equals('정액할인')}"
                               th:text="${#numbers.formatInteger(order.totalAmount*order.usedCoupon.discountAmount, 3, 'COMMA')}+' '+#{WON}"></p>
                        </div>
                        <div class="point">
                            <p th:text="#{USED_POINT}"></p>
                            <p th:text="${#numbers.formatInteger(order.usedPoint, 3, 'COMMA')}+' G'"></p>
                        </div>
                    </div>
                </div>

                <div class="total">
                    <p th:text="#{TOTAL}+': '+${#numbers.formatInteger(order.totalAmount, 3, 'COMMA')}+' '+#{WON}"></p>
                </div>
            </div>

        </main>
    </body>

</html>
