<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" th:href="@{/css/orders/order-details.css}">

        <title th:text="#{TITLE_ORDER_DETAIL}"></title>
    </head>

    <body>
        <main>

            <h2 th:text="#{ORDER_DETAIL}"></h2><br />

            <div class="info">
                <div class="top-info">
                    <p th:text="#{ORDER_NO}+': '+${orderId}"></p>
                    <p th:text="${#temporals.format(order.createdAt, 'yyyy.MM.dd (HH:mm)')}"></p>
                </div>

                <div class="first-info">
                    <p th:text="#{ORDER_STATUS}"></p>
                    <p th:text="${order.orderStatus}"></p>
                    <p th:if="${!order.trackingNo.isBlank()}" th:text="#{TRACKING_NO}"></p>
                    <p th:if="${!order.trackingNo.isBlank()}" th:text="${order.trackingNo}"></p>
                    <button th:if="${!order.trackingNo.isBlank()}" type="button" class="btn-primary form-control"
                            name="delivery" data-target="#delivery-modal" data-toggle="modal"
                            th:text="#{DELIVERY_INFO}">
                    </button>
                </div>

                <div class="second-info" th:if="${!order.getOrderProductList().isEmpty()}">
                    <h3 th:text="#{ORDER_PRODUCT_LIST}"></h3>
                    <div class="product-info" th:each="product : ${order.getOrderProductList()}">
                        <img th:src="${product.imageAddress}"
                             class="img-thumbnail" th:title="${product.name}+' '+#{SEE_DETAIL}"
                             th:onclick="|location.href='/products/${product.id}'|" alt="이미지 없음" />
                        <div class="product-info-text">
                            <div class="text-first">
                                <p th:text="#{PRODUCT_NAME}"></p>
                                <p th:text="${product.name}"></p>
                            </div>
                            <div class="text-second">
                                <p th:text="#{PRODUCT_PRICE}"></p>
                                <p th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}+' '+#{WON}"></p>
                                <p th:text="#{PRODUCT_AMOUNT}"></p>
                                <p th:text="${product.amount}"></p>
                                <p th:text="#{SUBTOTAL}"></p>
                                <p th:text="${#numbers.formatInteger(product.price*product.amount, 3, 'COMMA')}+' '+#{WON}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="third-info">
                    <h3 th:text="#{DELIVERY_ADDRESS}"></h3>
                    <p th:text="#{ADDRESS}+' ('+#{ZIPCODE}+')'"></p>
                    <p th:text="${order.address}+' ('+${order.zipCode}+')'"></p>
                    <p th:text="#{DETAIL_ADDRESS}"></p>
                    <p th:text="${order.detailAddress}"></p>
                </div>

                <div class="last-info">
                    <h3 th:text="#{DISCOUNT_APPLIED}"></h3>
                    <div class="discount">
                        <div class="coupon">
                            <p th:text="#{COUPON}"></p>
                            <p th:text="${order.usedCoupon?.name}"></p>
                            <p th:if="${order.usedCoupon?.name != null}" th:text="#{DISCOUNTED_AMOUNT}"></p>
                            <p th:unless="${order.usedCoupon?.name != null}" th:text="#{NOTHING}"></p>
                            <p th:if="${(order.usedCoupon?.name != null) && order.usedCoupon.type.equals('정액할인')}"
                               th:text="${#numbers.formatInteger((order.totalAmount)-(order.usedCoupon.discountAmount), 3, 'COMMA')}+' '+#{WON}"></p>
                            <p th:if="${(order.usedCoupon?.name != null) && order.usedCoupon.type.equals('정률할인')}"
                               th:text="${#numbers.formatInteger(order.totalAmount*order.usedCoupon.discountAmount, 3, 'COMMA')}+' '+#{WON}"></p>
                        </div>
                        <div class="point">
                            <p th:text="#{USED_POINT}"></p>
                            <p th:text="${#numbers.formatInteger(order.usedPoint, 3, 'COMMA')}+' G'"></p>
                        </div>
                    </div>
                </div>

                <div class="total">
                    <button th:if="${!order.orderStatus.equals('취소/환불완료')}" class="btn btn-danger"
                            th:onclick="|location.href=${order.id}+'/payments/cancel'|"
                            th:text="#{ORDER_CANCEL}"></button>
                    <p th:text="#{TOTAL}+': '+${#numbers.formatInteger(order.totalAmount, 3, 'COMMA')}+' '+#{WON}"></p>
                </div>
            </div>

            <div class="modal fade" id="delivery-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header float-right">
                            <h5>배송 정보</h5>
                            <div class="text-right">
                                <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">중간 도착지</th>
                                            <th scope="col">도착 시간</th>
                                            <th scope="col">상태</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="delivery-info" th:each="info : ${deliveryInfo}">
                                            <td th:text="${info.getMiddleLocation()}"></td>
                                            <td
                                                    th:text="${#temporals.format(info.getArrivalTime(), 'yyyy년 MM월 dd일 HH시 mm분')}"></td>
                                            <td th:if="${info.status.equals('READY')}" th:text="#{DELIVERY_READY}"></td>
                                            <td th:if="${info.status.equals('DELIVERING')}" th:text="#{DELIVERING}"></td>
                                            <td th:if="${info.status.equals('ARRIVAL')}" th:text="#{ARRIVAL}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="display: flex; justify-content: flex-end;">
                                    <span>배송완료 시간:&nbsp;</span>
                                    <span
                                            th:text="${#temporals.format(deliveryInfo.get(deliveryInfo.size()-1).completionTime, 'yyyy년 MM월 dd일 HH시 mm분')}"></span>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </body>

</html>
