<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link-script :: layout(~{::title}, ~{::main}, ~{::link}, ~{::script})}">

    <head>
        <meta charset="UTF-8">
        <title>Market GG</title>
        <link th:href="@{/css/members/login.css}" rel="stylesheet">
        <script></script>
    </head>
    <body>
        <main>

            <section class="jumbotron text-center">
                <h2>
                    <span th:text="#{LOGIN}"></span>
                </h2>
                <form th:action="@{/login}" method="POST" th:object="${loginRequest}">
                    <input class="input-box" type="text" name="email" placeholder="EMAIL" />
                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        EMAIL ERROR
                    </div>
                    <br />

                    <input class="input-box" type="password" name="password" placeholder="PASSWORD" />
                    <div class="error" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}">
                        EMAIL ERROR
                    </div>
                    <br />

                    <input class="input-box login-btn" type="submit" th:value="#{LOGIN}" />
                    <br />

                    <a href="/login/google">
                        <div class="google-login-btn">
                            <img class="google-login-logo" th:src="@{images/google-login-logo.png}" alt="google" />
                            <span class="google-login-text">
                            SIGN IN WITH GOOGLE
                        </span>
                        </div>
                    </a>

                    <a href="/signup">
                        <div class="signup-btn">
                            <span th:text="#{SIGN_UP}"></span>
                        </div>
                    </a>
                </form>
                <script th:inline="javascript" th:if="${loginStatus != null}">
                    const loginStatus = /*[[${loginStatus}]]*/;
                    let message;

                    console.log(loginStatus);
                    if (loginStatus == "WITHDRAW") {
                        message =  /*[[#{WITHDRAW}]]*/;
                    } else if(loginStatus == "UNAUTHORIZED") {
                        message =  /*[[#{LOGIN_FAIL}]]*/;
                    }

                    alert(message);
                </script>
            </section>
        </main>
    </body>
</html>
