<!DOCTYPE HTML>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main :: layout(~{::title}, ~{::main})}">

    <head>
        <title>Market GG | 결제 취소</title>
    </head>

    <body>
        <main>
            <section>
                <h1>결제 취소를 진행하시겠습니까?</h1>
                <form style="display: flex; justify-content: space-around;" method="post" th:action="@{'/payments/'+${paymentKey}+'/cancel'}">
                    <select name="cancelReason">
                        <option value="단순 변심">단순 변심</option>
                        <option value="상품 불량">상품 불량</option>
                        <option value="실수로 잘못 주문">실수로 잘못 주문</option>
                        <option value="상품 정보와 상이">상품 정보와 상이</option>
                        <option value="기타">기타</option>
                    </select>
                    <button id="payment-cancel-button" class="btn btn-danger">결제 취소</button>
                </form>
            </section>
        </main>
    </body>

</html>
