<!DOCTYPE HTML>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layouts/default-layout :: layout(~{::title}, ~{::link}, ~{::script}, ~{::main})}">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/css/marketgg.common.css}">

        <title>Market GG | 결제 진행</title>

        <!-- 토스 결제창을 띄우기 위해 넣어줘야 한다. requestPayment() 메서드를 이용해서 토스에서 제공하는 결제창을 띄울 수 있다. -->
        <script src="https://js.tosspayments.com/v1"></script>
        <script th:src="@{/plugins/tosspayments/js/payment.js}" defer></script>
    </head>

    <body>
        <main>
            <span>[KF365] 아보카도 200g (1걔) 외 2건</span>
            <span>총 주문금액</span>
            <span>4,760 원</span>
            <button id="payment-button">4,760원 결제하기</button>
        </main>
    </body>

</html>
