<!DOCTYPE HTML>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link-script :: layout(~{::title}, ~{::main}, ~{::link}, ~{::script})}">

    <head>
        <link rel="stylesheet" th:href="@{/css/payments/marketgg.payment.css}">

        <title>Market GG | 결제 진행</title>

        <!-- 토스 결제창을 띄우기 위해 넣어줘야 한다. requestPayment() 메서드를 이용해서 토스에서 제공하는 결제창을 띄울 수 있다. -->
        <script src="https://js.tosspayments.com/v1"></script>
        <script defer th:src="@{/plugins/tosspayments/js/payment.js}"></script>
    </head>

    <body>
        <main>
            <h1>결제 요청이 진행중입니다.</h1>
            <div class="payment-result">
                <p id="orderId" th:text="${result.orderId}"></p>
                <p id="orderName" th:text="${result.orderName}"></p>
                <p id="customerName" th:text="${result.memberName}"></p>
                <p id="customerEmail" th:text="${result.memberEmail}"></p>
                <p id="amount" th:text="${result.totalAmount}"></p>
            </div>
        </main>
    </body>

</html>
