<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main :: layout(~{::title}, ~{::main})}">

    <head>
        <title>Market GG | 쿠폰 등록</title>
    </head>
    <body>
        <main>
            <h1 th:text="#{COUPON_CREATE}"></h1>
            <br>
            <div>
                <form th:method="post" th:action="'/admin/coupons'">
                    <table class="table table-hover" style="margin-left: auto; margin-right: auto;">
                        <tr>
                            <th th:text="#{COUPON_NAME}"></th>
                            <th th:text="#{COUPON_TYPE}"></th>
                            <th th:text="#{EXPIRED_DATE}"></th>
                            <th th:text="#{MINIMUM_MONEY}"></th>
                            <th th:text="#{DISCOUNT_AMOUNT}"></th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="name"/>
                            </td>
                            <td>
                                <input type="text" name="type"/>
                            </td>
                            <td>
                                <input type="number" min="1" name="expiredDate"/>
                            </td>
                            <td>
                                <input type="number" min="0" name="minimumMoney"/>
                            </td>
                            <td>
                                <input type="number" step="any" min="0" name="discountAmount"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <button style="flex: none; float: right;" type="submit" th:text="#{COUPON_CREATE}" class="btn btn-primary btn-lg"></button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </main>
    </body>
</html>
