<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main :: layout(~{::title}, ~{::main})}">

    <head>
        <meta charset="UTF-8">
        <title>Market GG | 쿠폰 조회</title>
    </head>
    <body>
        <main style="background-color: white;">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{COUPON_NAME}"></th>
                    <th th:text="#{COUPON_TYPE}"></th>
                    <th th:text="#{EXPIRED_DATE}"></th>
                    <th th:text="#{MINIMUM_MONEY}"></th>
                    <th th:text="#{DISCOUNT_AMOUNT}"></th>
                    <th th:text="#{COUPON_MANAGEMENT}"></th>
                </tr>
                </thead>
                <tr th:each="coupon : ${coupons}">
                    <td th:text="${coupon.name}"></td>
                    <td th:text="${coupon.type}"></td>
                    <td th:text="${coupon.expiredDate}"></td>
                    <td th:text="${#numbers.formatInteger(coupon.minimumMoney, 3, 'COMMA')+'원'}"></td>
                    <td th:text="${coupon.discountAmount &gt;= 1 ? #numbers.formatInteger(coupon.getDiscountAmount(), 3, 'COMMA')+'원' : #numbers.formatPercent(coupon.getDiscountAmount(), 1, 2)}"></td>
                    <td>
                        <a style="text-decoration: none" th:href="@{update/{couponId}(couponId=${coupon.id})}">
                            <button th:text="#{UPDATE}" class="btn btn-primary btn-sm"></button>
                        </a>
                        <form style="display: inline" th:action="'/admin/coupons/' + ${coupon.id}" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" th:value="#{DELETE}" class="btn btn-secondary btn-sm"/>
                        </form>
                    </td>
                </tr>
            </table>
            <div style="display: flex; flex-direction: row;">
                <a th:href="@{|/admin/coupons/index?page=1|}" th:text="#{FIRST}" style="color: black"></a> &nbsp; &lt;
                <a th:if="${pages.page > 1}" th:href="@{|/admin/coupons/index?page=${pages.page - 1}|}" style="color: black"></a> &nbsp;
                <ul class="pagination">
                    <li th:each="page: ${#numbers.sequence(pages.startPage, pages.endPage)}">
                        <a th:href="@{|/admin/coupons/index?page=${page}|}" th:text="${page}" style="color: black"></a> &nbsp;
                    </li>
                </ul>
                <a th:if="${pages.page} < ${pages.totalPageCnt}" th:href="@{|/admin/coupons/index?page=${pages.page + 1}|}" style="color: black"></a>
                &gt; &nbsp;<a th:href="@{|/admin/coupons/index?page=${pages.totalPageCnt}|}" th:text="#{LAST}" style="color: black"></a>
            </div>
        </main>
    </body>
</html>
