<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main :: layout(~{::title}, ~{::main})}">

    <head>
        <meta charset="UTF-8">
        <title>Market GG | 쿠폰 조회</title>
    </head>
    <body>
        <main>
            <table class="table table-hover" style="text-align:center">
                <tr>
                    <th th:text="#{COUPON_NAME}"></th>
                    <th th:text="#{COUPON_TYPE}"></th>
                    <th th:text="#{EXPIRED_DATE}"></th>
                    <th th:text="#{MINIMUM_MONEY}"></th>
                    <th th:text="#{DISCOUNT_AMOUNT}"></th>
                    <th th:text="#{COUPON_MANAGEMENT}"></th>
                </tr>
                <tr th:each="coupon : ${coupons}">
                    <td th:text="${coupon.name}"></td>
                    <td th:text="${coupon.type}"></td>
                    <td th:text="${coupon.expiredDate}"></td>
                    <td th:text="${#numbers.formatInteger(coupon.minimumMoney, 3, 'COMMA')}"></td>
                    <td th:text="${coupon.discountAmount &gt;= 1 ? #numbers.formatInteger(coupon.getDiscountAmount(), 3, 'COMMA') : #numbers.formatPercent(coupon.getDiscountAmount(), 1, 2)}"></td>
                    <td>
                        <a style="text-decoration: none" th:href="@{update/{couponId}(couponId=${coupon.id})}">
                            <button th:text="#{UPDATE}" class="btn btn-primary btn-sm"></button>
                        </a>
                        <form style="display: inline" th:action="'/admin/coupons/' + ${coupon.id}" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" th:value="#{DELETE}" class="btn btn-secondary btn-sm"/>
                        </form>
                    </td>
                </tr>
            </table>
        </main>
    </body>
</html>