<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <title>Market GG | 허용하지 않는 페이지</title>

        <link rel="stylesheet" th:href="@{/css/errors/403.css}">
    </head>

    <main>
        <img src="../../../static/images/errors/poby.png" th:src="@{/images/errors/poby.png}" alt="FORBIDDEN" />
        <h1>403</h1>
        <p>인증되지 않은 사용자이거나 접근 권한이 없습니다.</p>
        <a href="/" class="btn btn-primary back-to-the-index">메인 페이지로 돌아가기</a>
    </main>
</html>
