<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" th:href="@{/css/mygg/marketgg.mygg.css}">

        <title th:text="#{WISH_LIST}"></title>
    </head>

    <body>
        <main>
            <div class="dib-wrapper" style="display: flex;">
                <div th:replace="fragments/common/mygg-sidebar"></div>

                <div class="dib-content-wrapper">
                    <h1 th:text="#{DIB_RETRIEVE}"></h1>
                    <div class="dib-content-sub-util">
                        <table class="table dib-table-wrapper">
                            <tr>
                                <th th:text="#{PRODUCT_IMAGE}"></th>
                                <th th:text="#{PRODUCT_NAME}"></th>
                                <th th:text="#{PRODUCT_PRICE}"></th>
                                <th th:text="#{DIB_DELETE}"></th>
                            </tr>
                            <tr style="background-color: whitesmoke;" class="table table-hover" th:each="dib : ${dibs}">
                                <td>
                                    <img style="width: 10rem; height: 5rem;" th:src="${dib.thumbnail}" alt="이미지 없음"/>
                                </td>
                                <td>
                                    <a th:href="'/products/' + ${dib.productNo}" th:text="${dib.productName}"></a>
                                </td>
                                <td th:text="${dib.productPrice}"></td>
                                <td>
                                    <form th:method="post" th:action="'/members/dibs/' + ${dib.productNo}">
                                        <input type="hidden" name="_method" value="delete"/>
                                        <input class="btn btn-primary" type="submit" th:value="#{DIB_DELETE}">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>
