<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">
    <head>
        <link th:rel="stylesheet" th:href="@{/css/dib/marketgg.dib.css}">
        <title th:text="#{WISH_LIST}"></title>
    </head>
    <body>
        <main>
            <h1 th:text="#{DIB_RETRIEVE}"></h1>
            <div class="dib-wrapper">
                <nav></nav>
                <div class="dib-content-wrapper">
                    <div class="dib-content-sub-util">
                        <table class="table dib-table-wrapper">
                            <tr>
                                <th th:text="#{PRODUCT_IMAGE}"></th>
                                <th th:text="#{PRODUCT_NAME}"></th>
                                <th th:text="#{PRODUCT_PRICE}"></th>
                                <th th:text="#{DIB_DELETE}"></th>
                            </tr>
                            <tr style="background-color: whitesmoke;" class="table table-hover" th:each="dib : ${dibs}">
                                <td>
                                    <img th:src="${dib.thumbnail}" alt="null"/>
                                </td>
                                <td>
                                    <a th:href="'/products/' + ${dib.productNo}" th:text="${dib.productName}"></a>
                                </td>
                                <td th:text="${dib.productPrice}"></td>
                                <td>
                                    <form th:method="post" th:action="'/members/dibs/' + ${dib.productNo}">
                                        <input type="hidden" name="_method" value="delete"/>
                                        <input class="btn btn-primary" type="submit" th:value="#{DIB_DELETE}">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
