<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/admin-title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <link rel="stylesheet" th:href="@{/css/productinquries/marketgg.admininquiries.css}">
        <title>Market GG | 상품 문의 관리</title>
    </head>
    <body>
        <main>
            <h1 th:text="#{PRODUCT_INQUIRIES_VIEW}" style="font-weight: bold; margin: 0 auto 0 0;"></h1>
            <br>
            <div>
                <div class="product-inquiry-header">
                    <li th:text="#{PRODUCT_NAME}"></li>
                    <li th:text="#{INQUIRY_TITLE}"></li>
                    <li th:text="#{INQUIRY_CONTENT}"></li>
                    <li th:text="#{INQUIRY_WRITER}"></li>
                    <li th:text="#{INQUIRY_TYPE}"></li>
                    <li th:text="#{INQUIRY_DATE}"></li>
                    <li th:text="#{INQUIRY_MANAGEMENT}"></li>
                </div>

                <div class="product-inquiry-content" th:each="inquiry: ${inquiries}">
                    <div class="product-inquiry-row">
                        <li>
                            <a style="text-decoration: none" th:href="@{|/products/${inquiry.productId}|}">
                                <button th:text="${inquiry.productName}" class="btn btn-outline-primary" style="width: 10rem;"/>
                            </a>
                        </li>
                        <li th:text="${inquiry.title}"></li>
                        <li th:text="${inquiry.content}"></li>
                        <li th:text="${inquiry.name}"></li>
                        <li th:text="${inquiry.isSecret} == true ? #{SECRET_POST} : #{PUBLIC_POST}"></li>
                        <li th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd')}"></li>
                        <li>
                            <form th:action="'/admin/products/' + ${inquiry.productId} + '/inquiries/' + ${inquiry.productInquiryNo}"
                                  method="post">
                                <input type="hidden" name="_method" value="delete" />
                                <input type="submit" th:value="#{DELETE}" class="btn btn-outline-primary"/>
                            </form>
                        </li>
                    </div>
                    <div class="reply-wrapper" th:if="${inquiry.adminReply} != null">
                        <li class="reply" th:text="'Q: ' + ${inquiry.adminReply}"></li>
                    </div>
                    <div class="reply-wrapper-form" th:if="${inquiry.adminReply} == null">
                        <form th:action="'/admin/products/' + ${inquiry.productId} + '/inquiries/' + ${inquiry.productInquiryNo}"
                              method="post">
                            <div style="display: flex;">
                                <input type="hidden" name="_method" value="put"/>
                                <textarea style="height: 3rem; width: 35rem; text-align: center; color: blue; resize: none" class="form-control"
                                      name="adminReply" th:placeholder="#{WRITE_ANSWER}"></textarea>
                                <input type="submit" th:value="#{INQUIRY_REPLY_REGISTER}" class="btn btn-outline-primary" style="margin: 0 0 0 1rem" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div style="display: flex; flex-direction: row;" class="product-inquiry-page">
                <a th:href="@{|/admin/products/inquiries?page=1|}" th:text="#{FIRST}" style="color: black"></a>  &nbsp; &lt;

                <a th:if="${pages.page > 1}" th:href="@{|/admin/products/inquiries?page=${pages.page - 1}|}"
                   style="color: black"></a> &nbsp;
                <ul class="pagination">
                    <li th:each="page: ${#numbers.sequence(pages.startPage, pages.endPage)}">
                        <a th:href="@{|/admin/products/inquiries?page=${page}|}" th:text="${page}"
                           style="color: black"></a> &nbsp;
                    </li>
                </ul>
                <a th:if="${pages.page} < ${pages.totalPageCnt}"
                   th:href="@{|/admin/products/inquiries?page=${pages.page + 1}|}" style="color: black"></a>
                &gt; &nbsp;<a th:href="@{|/admin/products/inquiries?page=${pages.totalPageCnt}|}" th:text="#{LAST}"
                   style="color: black"></a>
            </div>
        </main>
    </body>
</html>