<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" th:href="@{/css/orders/order-list.css}">

        <title>Market GG | 주문 목록 조회</title>
    </head>

    <body>
        <main>
            주문 목록 페이지입니다.
            <table>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                </tr>
            </table>
        </main>
    </body>

</html>
