<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" th:href="@{/css/orders/order-details.css}">

        <title th:text="#{TITLE_ORDER_DETAIL}"></title>
    </head>

    <body>
        <main>

            <h2 th:text="#{ORDER_DETAIL}"></h2>

            <div class="top-info">
                <p th:text="'주문 번호: '+${orderId}"></p>
                <p th:text="${#temporals.format(order.createdAt, 'yyyy.MM.dd (hh:mm)')}"></p>
            </div>
            <div>
                <p>주문 상태</p>

            </div>

            <p th:text="${order.id}"></p>
            <p th:text="${order.orderName}"></p>
            <p th:text="${order.orderStatus}"></p>
            <p th:text="${order.totalAmount}"></p>
            <p th:text="${order.usedCoupon.name}"></p>
            <p th:text="${order.usedCoupon.discountAmount}"></p>
            <p th:text="${order.usedPoint}"></p>
            <p th:text="${order.address}"></p>
            <p th:text="${order.detailAddress}"></p>
            <p th:text="${order.zipCode}"></p>
            <p th:text="${order.trackingNo}"></p>
            <p th:text="${order.createdAt}"></p>
            <p th:text="${order.orderProductList.get(0)}"></p>

        </main>
    </body>

</html>
