<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" th:href="@{/css/orders/order-form.css}">

        <title th:text="#{TITLE_ORDER_FORM}"></title>
    </head>

    <body>
        <main>
            <form method="post" th:action="@{/orders}">
                <h1>주문서</h1>
                <section class="order-products">
                    <h2>주문 상품</h2>
                    <hr>
                    <ul>
                        <li th:each="product : ${result.products}">
                            <div style="width: 100px; height: 100px; background: url('https://img-cf.kurly.com/shop/data/goods/1653037091448l0.jpeg')"></div>
                            <div>
                                <a href="#"><p th:text="${product.name}"></p></a>
                                <a href="#"><p th:text="${product.price}"></p></a>
                                <a href="#"><p th:text="${product.amount}"></p></a>
                            </div>
                            <input type="hidden" name="productIds" th:value="${product.id}">
                        </li>
                    </ul>
                </section>

                <section class="customer-information">
                    <h2>주문자 정보</h2>
                    <hr>
                    <div>
                        <p>보내는 분</p>
                        <p th:text="${result.memberName}"></p>
                        <input type="hidden" name="name" th:value="${result.memberName}">
                    </div>
                    <div>
                        <p>휴대폰</p>
                        <p>010-8765-4321</p>
                    </div>
                    <div>
                        <p th:text="#{EMAIL_LABEL}"></p>
                        <p th:text="${result.memberEmail}"></p>
                        <input type="hidden" name="email" th:value="${result.memberEmail}">
                    </div>
                </section>

                <section class="delivery-information">
                    <h2>배송지</h2>
                    <hr>
                    <ul th:each="deliveryAddress: ${result.deliveryAddressList}">
                       <li th:text="${deliveryAddress.isDefaultAddress}"></li>
                       <li th:text="${deliveryAddress.zipcode}"></li>
                       <li th:text="${deliveryAddress.address}"></li>
                       <li th:text="${deliveryAddress.detailAddress}"></li>
                    </ul>
                    <input type="hidden" name="deliveryAddressId" th:value="${result.deliveryAddressList[0].id}">
                </section>

                <section class="benefits">
                    <h2>쿠폰 / 적립금</h2>
                    <hr>
                    <div style="flex-direction: column;">
                        <p>쿠폰 적용</p>
                        <ul th:each="givenCoupon: ${result.givenCouponList}">
                            <li th:text="${givenCoupon.name}"></li>
                            <li th:text="${givenCoupon.createdAt}"></li>
                            <li th:text="${givenCoupon.expiredDate}"></li>
                            <li th:text="${givenCoupon.minimumMoney}"></li>
                            <li th:text="${givenCoupon.discountAmount}"></li>
                        </ul>
                    </div>
                    <div>
                        <p>적립금 적용</p>
                        <input type="number" name="usedPoint" th:value="${result.totalPoint}">
                    </div>
                </section>

                <section class="payment-type">
                    <h2>결제 수단</h2>
                    <hr>
                    <div>
                        <p>결제 수단 선택</p>
                        <div class="form-check" th:fragment="formCheck(id, text)">
                            <input class="form-check-input" type="radio" id="card" name="paymentType" value="카드" checked>
                            <label class="form-check-label" for="card">카드</label>
                        </div>
                        <div th:replace="fragments/orders/radio-button :: formCheck('virtual-account', '가상계좌')"></div>
                        <div th:replace="fragments/orders/radio-button :: formCheck('transfer', '계좌이체')"></div>
                        <div th:replace="fragments/orders/radio-button :: formCheck('mobile-phone', '휴대폰')"></div>
                    </div>
                </section>


                <section>
                    <h2>개인정보 수집/제공</h2>
                    <hr>
                </section>

                <!-- <aside>
                    결제 금액
                </aside> -->

                <!-- FIXME: 유효성 검사 반영되어 있음. 필요한 값 수정 필요 -->
                <input type="hidden" name="totalAmount" th:value="${result.totalOrigin}" />
                <input type="hidden" name="expectedSavePoint" th:value="${result.totalOrigin}" />

                <button id="payment-button" class="btn btn-primary my-2" th:text="결제하기"></button>
            </form>
        </main>
    </body>

</html>
