<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" th:href="@{/css/orders/order-list.css}">

        <title th:text="#{TITLE_ORDER_LIST}"></title>
    </head>

    <body>
        <main>
            <h2 th:text="#{ORDER_LIST}"></h2>

            <h2 th:if="${orders.isEmpty()}" th:text="#{NOT_EXISTS_ORDERS}"></h2>
            <table th:unless="${orders.isEmpty()}" class="table">
                <tr>
                    <th th:text="#{ORDER_NO}"></th>
                    <th th:text="#{ORDER_NAME}"></th>
                    <th th:text="#{ORDER_TOTAL_AMOUNT}"></th>
                    <th th:text="#{ORDER_STATUS}"></th>
                    <th th:text="#{ORDER_CREATED_AT}"></th>
                </tr>
                <tr class="order-content" th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.orderName}"></td>
                    <td th:text="${#numbers.formatInteger(order.totalAmount, 3, 'COMMA')+'원'}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td th:text="${#temporals.format(order.createdAt, 'yyyy년 MM월 dd일 hh시 mm분')}"></td>
                </tr>
            </table>

            <div class="pagination" th:if="${!orders.isEmpty()}">
                <a th:href="@{|/orders?page=1|}" th:text="처음"></a>
                <a th:if="${pages.page} > 1" th:href="@{|/orders?page=${pages.page-1}|}" th:text="이전"></a>
                <ul>
                    <li th:each="page : ${#numbers.sequence(pages.startPage, pages.endPage)}">
                        <a th:href="@{|/orders?page=${page}|}" th:text="${page}"
                           th:classappend="${page} == ${pages.page} ? 'current'"></a>
                    </li>
                </ul>
                <a th:if="${pages.page} < ${pages.totalPageCnt}" th:href="@{|/orders?page=${pages.page+1}|}"
                   th:text="다음"></a>
                <a th:href="@{|/orders?page=${pages.totalPageCnt}|}" th:text="끝"></a>
            </div>
        </main>
    </body>

</html>
