<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">

    <head>
        <title>Market GG | 지급 쿠폰 조회</title>
        <link rel="stylesheet" th:href="@{/css/coupons/marketgg.mycoupons.css}">
        <link rel="stylesheet" th:href="@{/css/mygg/marketgg.mygg.css}">
    </head>
    <body>
        <main>
            <div th:replace="fragments/common/mygg-sidebar"></div>
            <div>
                <div class="my-coupon">
                <h2 th:text="#{COUPON_VIEW}" style="font-weight: bold; margin: 0 auto 0 0;"></h2>
                    <br>
                <form style="display: flex; justify-content: center" th:method="post" th:action=" '/members/coupons'">
                    <input type="text" name="name" th:placeholder="#{COUPON_NAME_INPUT}"
                           style="width:300px; text-align: center;">
                    <input type="submit" th:value="#{COUPON_CREATE}" class="btn btn-warning">
                </form>
                <br />
                    <table class="table table-hover" style="text-align:center">
                        <tr class="table-warning">
                            <th th:text="#{COUPON_NAME}"></th>
                            <th th:text="#{COUPON_TYPE}"></th>
                            <th th:text="#{MINIMUM_MONEY}"></th>
                            <th th:text="#{DISCOUNT_AMOUNT}"></th>
                            <th th:text="#{EXPIRED_DATE}"></th>
                            <th th:text="#{COUPON_STATUS}"></th>
                        </tr>
                        <tr th:each="coupon : ${coupons}">
                            <td th:text="${coupon.name}"></td>
                            <td th:text="${coupon.type}"></td>
                            <td th:text="${#numbers.formatInteger(coupon.minimumMoney, 3, 'COMMA')+'원'}"></td>
                            <td th:text="${coupon.discountAmount &gt;= 1 ? #numbers.formatInteger(coupon.getDiscountAmount(), 3, 'COMMA')+'원'  : #numbers.formatPercent(coupon.getDiscountAmount(), 1, 2)}"></td>
                            <td th:text="${#temporals.format(coupon.expiredDate, 'yyyy/MM/dd')}"></td>
                            <td th:text="${coupon.status}"></td>
                        </tr>
                    </table>
                </div>
                <div class="pagination">
                    <a th:href="@{|/members/coupons?page=1|}" th:text="#{FIRST}" style="color: black"></a>
                    <a th:if="${pages.page > 1}" th:href="@{|/members/coupons?page=${pages.page - 1}|}"
                       style="color: black"></a>
                    <ul>
                        <li th:each="page: ${#numbers.sequence(pages.startPage, pages.endPage)}" style="list-style-type: none">
                            <a th:href="@{|/members/coupons?page=${page}|}" th:text="${page}" style="color: black"></a> &nbsp;
                        </li>
                    </ul>
                    <a th:if="${pages.page} < ${pages.totalPageCnt}" th:href="@{|/members/coupons?page=${pages.page + 1}|}"
                       style="color: black"></a>
                    <a th:href="@{|/members/coupons?page=${pages.totalPageCnt}|}" th:text="#{LAST}"
                                  style="color: black"></a>
                </div>
            </div>
        </main>
    </body>
</html>
