<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main :: layout(~{::title}, ~{::main})}">

    <head>
        <meta charset="UTF-8">
        <title>Market GG | 지급 쿠폰 조회</title>
    </head>
    <body>
        <main>
            <form style="display: flex; justify-content: center" th:method="post" th:acthion="${memberId}+'/coupons'">
                <input type="text" name="name" th:placeholder="#{COUPON_NAME_INPUT}" style="width:300px; text-align: center;">
                <input type="submit" th:value="#{COUPON_CREATE}" class="btn btn-outline-primary">
            </form>
            <br />
            <div style="text-align: center; display: flex; justify-content: center">
                <table class="table table-hover" style="text-align:center">
                    <tr class="table-primary">
                        <th th:text="#{COUPON_NO}"></th>
                        <th th:text="#{COUPON_NAME}"></th>
                        <th th:text="#{COUPON_TYPE}"></th>
                        <th th:text="#{MINIMUM_MONEY}"></th>
                        <th th:text="#{DISCOUNT_AMOUNT}"></th>
                        <th th:text="#{EXPIRED_DATE}"></th>
                        <th th:text="#{COUPON_STATUS}"></th>
                    </tr>
                    <tr th:each="coupon : ${coupons}">
                        <td th:text="${coupon.couponId}"></td>
                        <td th:text="${coupon.name}"></td>
                        <td th:text="${coupon.type}"></td>
                        <td th:text="${#numbers.formatInteger(coupon.minimumMoney, 3, 'COMMA')}"></td>
                        <td th:text="${coupon.discountAmount &gt;= 1 ? #numbers.formatInteger(coupon.getDiscountAmount(), 3, 'COMMA') : #numbers.formatPercent(coupon.getDiscountAmount(), 1, 2)}"></td>
                        <td th:text="${#temporals.format(coupon.expiredDate, 'yyyy/MM/dd hh:mm:ss')}"></td>
                        <td th:text="${coupon.status}"></td>
                    </tr>
                </table>
            </div>
        </main>
    </body>
</html>