main {
    display: flex;
    border: 1px solid #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 0 auto;
    padding: 3rem;
}

.info > * {
    display: flex;
    justify-content: space-between;
    width: 50em;
}

.second-info, .third-info, .last-info {
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 0.2em;
    padding: 0.5em;
}


h3 {
    text-align: center;
}

img {
    width: 10em;
}

img:hover {
    cursor: pointer;
}

.product-info {
    display: flex;
    margin-bottom: 1em;
}

.product-info-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: 3em;
}

.product-info-text > * {
    display: flex;
}

.text-first {
    width: 30%;
    justify-content: space-between;
}

.text-second {
    justify-content: space-between;
}

.discount {
    display: flex;
}

.total {
    display: flex;
    justify-content: flex-end;
}
