main {
    display: flex;
    border: 1px solid #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 0 auto;
    padding: 3rem;
}

.top-info {
    display: flex;
    justify-content: space-between;
    width: 30em;
}



img {
    width: 10em;
}
