main {
    display: flex;
    border: 1px solid #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 0 auto;
    padding: 3rem;
}

table {
    text-align: center;
}

th {
    background-color: #ffd39c;
    border-bottom: 2px solid black;
    cursor: default;
}

tr:hover {
    background-color: #ffeee2;
    cursor: pointer;
}

.pagination > * {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
}

ul {
    list-style: none;
    padding-left: 0em;
}

li {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.current {
    font-weight: bold;
    color: #ff9274;
}