main {
    display: flex;
    border: 1px solid #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 0 auto;
    padding: 3rem;
}

.info > * {
    display: flex;
    justify-content: space-between;
    width: 50em;
}

.first-info {
    border: 1px solid black;
    margin-bottom: 0.2em;
    align-items: center;
    padding: 0.5em 0.5em 0 0.5em;
}

.first-info > p {
    margin-bottom: 0;
}

.second-info, .third-info, .last-info {
    flex-direction: column;
    border: 1px solid black;
    margin-bottom: 0.2em;
    padding: 0.5em 0.5em 0 0.5em;
}

h3 {
    text-align: center;
    margin-bottom: 1em;
}

img {
    width: 10em;
}

img:hover {
    cursor: pointer;
}

.product-info {
    display: flex;
    margin-bottom: 1em;
}

.product-info-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: 3em;
}

.product-info-text > * {
    display: flex;
    align-items: center;
}

.text-first {
    width: 35%;
    justify-content: space-between;
}

.text-second {
    justify-content: space-between;
}

.discount {
    display: flex;
    flex-direction: column;
}

.discount > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.first-info > p:nth-child(2n-1) {
    font-weight: bold;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background-color: #ffd39c;
    border-radius: 10px;
}

.text-first > p:nth-child(2n-1) {
    font-weight: bold;
    padding: 0.5em 1em;
    background-color: #ffd39c;
    border-radius: 10px;
}

.text-second > p:nth-child(2n-1) {
    font-weight: bold;
    padding: 0.5em 1em;
    background-color: #ffd39c;
    border-radius: 10px;
}

.third-info > p:nth-child(2n) {
    font-weight: bold;
    padding: 0.5em 1em;
    background-color: #ffd39c;
    margin-right: auto;
    border-radius: 10px;
}

.third-info > p:nth-child(2n-1) {
    margin-left: 0.5em;
}

.coupon > p:nth-child(2n-1) {
    font-weight: bold;
    padding: 0.5em 1em;
    background-color: #ffd39c;
    border-radius: 10px;
}

.point > p:nth-child(2n-1) {
    font-weight: bold;
    padding: 0.5em 1em;
    background-color: #ffd39c;
    border-radius: 10px;
}