<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main :: layout(~{::title}, ~{::main})}">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{FAQ_CREATE}"></title>
    </head>
    <body>
        <main>
            <br /><br />
            <div style="text-align: center; display: flex; justify-content: center">
                <form th:object="${postRequest}" th:method="post"
                      th:action="'/admin/customer-services/categories/'+${code}+'/create'">
                    <span style="background-color: #abdde5; border: 2px solid black;"
                          th:text="#{FAQ_QUESTION_CONTENT}"></span>
                    <br /><br />
                    <textarea style="white-space: pre-wrap; text-align: center" class="form-control" cols="50" rows="6"
                              name="title"
                              th:placeholder="#{WRITE_FAQ_QUESTION}"></textarea>
                    <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">질문 내용을 잘못입력함</div>
                    <br />
                    <span style="background-color: #abdde5; border: 2px solid black;"
                          th:text="#{FAQ_ANSWER_CONTENT}"></span><br /><br />
                    <textarea style="white-space: pre-wrap; text-align: center" class="form-control" cols="50" rows="6"
                              name="content"
                              th:placeholder="#{WRITE_FAQ_ANSWER}"></textarea>
                    <div class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">답변 내용을 잘못입력함</div>
                    <br />
                    <input type="hidden" name="categoryCode" value="703">
                    <input type="hidden" name="reason" value="FAQ">
                    <input class="btn-primary fa-pull-right" type="submit" th:value="#{ADD}">
                </form>
            </div>
        </main>
    </body>
</html>
