<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/title-main-link :: layout(~{::title}, ~{::main}, ~{::link})}">
    <head>
        <link rel="stylesheet" th:href="@{/css/board/marketgg.board.css}">
        <title th:text="#{FAQ_BOARD}"></title>
    </head>
    <body>
        <main>
            <h1 th:text="#{FAQ}"></h1>
            <div sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-primary" th:href="'/admin/customer-services/categories/' + ${FAQ_CODE}+'?page=0'"><span th:text="'관리자 메뉴'"></span></a>
            </div><br />
            <div class="board-wrapper">
                <nav>
                    <div class="list-group" th:if="${isAdmin == 'yes'}">
                        <span class="list-group-item active" aria-current="true" th:text="#{BOARD_LIST}"></span>
                        <a class="list-group-item list-group-item-action"
                           th:href="'/admin/customer-services/categories/'+${NOTICE_CODE}+'?page=0'"
                           th:text="#{NOTICE}"></a>
                        <a class="list-group-item list-group-item-action"
                           th:href="'/admin/customer-services/categories/'+${OTO_CODE}+'?page=0'"
                           th:text="#{OTO_INQUIRY}"></a>
                        <a class="list-group-item list-group-item-action"
                           th:href="'/admin/customer-services/categories/'+${FAQ_CODE}+'?page=0'" th:text="#{FAQ}"></a>
                    </div>
                    <div class="list-group" th:if="${isAdmin == 'no'}">
                        <span class="list-group-item active" aria-current="true" th:text="#{BOARD_LIST}"></span>
                        <a class="list-group-item list-group-item-action"
                           th:href="'/customer-services/categories/'+${NOTICE_CODE}+'?page=0'" th:text="#{NOTICE}"></a>
                        <a class="list-group-item list-group-item-action"
                           th:href="'/customer-services/categories/'+${OTO_CODE}+'?page=0'"
                           th:text="#{OTO_INQUIRY}"></a>
                        <a class="list-group-item list-group-item-action"
                           th:href="'/customer-services/categories/'+${FAQ_CODE}+'?page=0'" th:text="#{FAQ}"></a>
                    </div>
                </nav>
                <div class="table-wrapper">
                    <div th:if="${isAdmin == 'no'}">
                        <form th:action="'/customer-services/categories/'+${FAQ_CODE}+'/search'" th:method="get">
                            <input type="text" name="keyword" th:value="#{WRITE_SEARCH_KEYWORD}">
                            <input type="hidden" name="page" value="0">
                            <input class="btn btn-primary" type="submit" th:value="#{SEARCH}"><br />
                        </form>
                    </div>
                    <div th:if="${isAdmin == 'yes'}">
                        <form th:action="'/admin/customer-services/categories/'+${FAQ_CODE}+'/search'" th:method="get">
                            <input type="text" name="keyword" th:value="#{WRITE_SEARCH_KEYWORD}">
                            <input type="hidden" name="page" value="0">
                            <input class="btn btn-primary" type="submit" th:value="#{SEARCH}"><br />
                        </form>
                    </div>
                    <br />
                    <div th:if="${isAdmin == 'yes'}" style="background-color: white">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th th:text="#{POST_NO}"></th>
                                    <th th:text="#{TITLE}"></th>
                                    <th th:text="#{CREATED_AT}"></th>
                                    <th th:text="#{UPDATE_DELETE}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="board : ${responses}">
                                    <td th:text="${board.id}"></td>
                                    <td>
                                        <a th:href="'/admin/customer-services/categories/'+${board.categoryCode}+'/'+${board.id}+'?page='+${page}"
                                           th:text="${board.title}"></a>
                                    </td>
                                    <td th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
                                    <td>
                                        <div class="row">
                                            <form th:method="get"
                                                  th:action="'/admin/customer-services/categories/'+${board.categoryCode}+'/'+${board.id}+'/update'">
                                                <input type="hidden" name="page" th:value="${page}">
                                                <input class="btn btn-warning" type="submit" th:value="#{UPDATE}">
                                            </form>
                                            <form th:method="post"
                                                  th:action="'/admin/customer-services/categories/'+${board.categoryCode}+'/'+${board.id}+'/delete'">
                                                <input type="hidden" name="page" th:value="${page}">
                                                <input type="hidden" name="_method" value="delete" />
                                                <input class="btn btn-danger" type="submit" th:value="#{DELETE}">
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${isAdmin == 'no'}" style="background-color: white">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th th:text="#{POST_NO}"></th>
                                    <th th:text="#{TITLE}"></th>
                                    <th th:text="#{CREATED_AT}"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="board : ${responses}">
                                    <td th:text="${board.id}"></td>
                                    <td>
                                        <a th:href="'/customer-services/categories/'+${board.categoryCode}+'/'+${board.id}+'?page='+${page}"
                                           th:text="${board.title}"></a>
                                    </td>
                                    <td th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div th:if="${isAdmin == 'yes'}">
                        <form th:method="get" th:action="'/admin/customer-services/categories/'+${FAQ_CODE}+'/create'">
                            <input class="btn btn-primary fa-pull-right" type="submit" th:value="#{FAQ_CREATE}">
                        </form>
                    </div>
                    <div style="text-align: center" th:if="${isAdmin == 'no'}">
                        <div th:if="${searchType == 'default'}">
                            <a class="btn-outline-primary"
                               th:href="'/customer-services/categories/'+${FAQ_CODE}+'/search?page=' + ${page - 1} + '&keyword=' + ${keyword}"
                               th:if="${page} != 0" th:text="prev"></a>
                            <span style="background-color: white; border: 1px outset black; padding: 5px"
                                  class="btn-outline-dark" th:text="${page + 1} + 'PAGE'"></span>
                            <a class="btn-outline-primary"
                               th:href="'/customer-services/categories/'+${FAQ_CODE}+'/search?page=' + ${page + 1} + '&keyword=' + ${keyword}"
                               th:if="${isEnd} == 0" th:text="next"></a>
                        </div>
                        <div th:if="${searchType == 'no'}">
                            <a class="btn-outline-primary"
                               th:href="'/customer-services/categories/'+${FAQ_CODE}+'?page=' + ${page - 1}"
                               th:if="${page} != 0" th:text="prev"></a>
                            <span style="background-color: white; border: 1px outset black; padding: 5px"
                                  class="btn-outline-dark" th:text="${page + 1} + 'PAGE'"></span>
                            <a class="btn-outline-primary"
                               th:href="'/customer-services/categories/'+${FAQ_CODE}+'?page=' + ${page + 1}"
                               th:if="${isEnd} == 0" th:text="next"></a>
                        </div>
                    </div>
                    <div style="text-align: center" th:if="${isAdmin == 'yes'}">
                        <div th:if="${searchType == 'default'}">
                            <a class="btn-outline-primary"
                               th:href="'/admin/customer-services/categories/'+${FAQ_CODE}+'/search?page=' + ${page - 1} + '&keyword=' + ${keyword}"
                               th:if="${page} != 0" th:text="prev"></a>
                            <span style="background-color: white; border: 1px outset black; padding: 5px"
                                  class="btn-outline-dark" th:text="${page + 1} + 'PAGE'"></span>
                            <a class="btn-outline-primary"
                               th:href="'/admin/customer-services/categories/'+${FAQ_CODE}+'/search?page=' + ${page + 1} + '&keyword=' + ${keyword}"
                               th:if="${isEnd} == 0" th:text="next"></a>
                        </div>
                        <div th:if="${searchType == 'no'}">
                            <a class="btn-outline-primary"
                               th:href="'/admin/customer-services/categories/'+${FAQ_CODE}+'?page=' + ${page - 1}"
                               th:if="${page} != 0" th:text="prev"></a>
                            <span style="background-color: white; border: 1px outset black; padding: 5px"
                                  class="btn-outline-dark" th:text="${page + 1} + 'PAGE'"></span>
                            <a class="btn-outline-primary"
                               th:href="'/admin/customer-services/categories/'+${FAQ_CODE}+'?page=' + ${page + 1}"
                               th:if="${isEnd} == 0" th:text="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
